[2015-09-25 03:32] ghost opened #1 "Magni_bringup rosdep fails"
Doing `rosdep install magni_bringup` fails with an error about invalid rosdep rules for magni_description. Rohan believes this is because of syntax errors in the package.xml files.

[2015-09-26 16:17] rohbotics commented on #1
It works when you use `rosdep install magni_bringup --ignore-src`

[2016-11-23 15:09] rohbotics commented on #1
This is old and no longer relevant

[2016-11-23 15:09] #1 closed, assigned to rohbotics

[2016-11-27 01:59] rohbotics opened #2 "Add camera to URDF"

[2016-11-27 07:35] jim-v commented on #2
fiducial_slam.py needs to be updated to use tf2 to get the transform from tf_static. Working on that.

[2016-11-27 14:54] #2 closed, assigned to rohbotics

[2017-01-07 21:41] rohbotics opened #8 "Tutorial For Running Fiducials"

[2017-01-07 22:49] rohbotics opened #9 "Tutorial for magni setup"

[2017-01-28 21:50] rohbotics opened #12 "Move_base carrot planner"
We need a super basic carrot_planner based move_base configuration. http://wiki.ros.org/carrot_planner

[2017-01-28 21:59] rohbotics opened #13 "Logitech joystick launch file"

[2017-01-28 22:00] rohbotics opened #14 "Update URDF for Magni V5"
Needs to have both a URDF and visual meshes to go along with it

[2017-01-29 01:32] #13 closed, assigned to rohbotics

[2017-05-06 16:59] jim-v opened #18 "Removed debug topics"

[2017-05-06 17:02] jim-v commented on #18
Oops, wrong repo

[2017-05-06 17:02] #18 closed, assigned to nobody

[2017-05-09 23:20] rohbotics commented on #12
This has been replaced by UbiquityRobotics/move_basic

[2017-05-09 23:20] #12 closed, assigned to nobody

[2017-05-09 23:23] rohbotics opened #19 "Launch files for demos"
We need single file launches for the following demos:

- [ ] Fiducial Following
- [ ] Joystick
- [ ] Robot Commander Android App
- [ ] Fiducial Localization to show in RViz

[2017-05-13 02:47] rohbotics opened #22 "Left and Right Wheels switched in URDF"
Thanks to @sevenbitbyte for reporting this.

[2017-05-13 04:05] #22 closed, assigned to rohbotics

[2017-05-13 05:44] #19 closed, assigned to rohbotics

[2017-06-10 21:07] rohbotics opened #25 "Do a Debian Package Release of magni_robot"
Need to figure out deps (hard)

[2017-06-11 19:40] rohbotics opened #26 "Fix the Camera Transform in the URDF"
The camera pose seems to be wrong in the URDF, we need to look into it.

[2017-06-11 19:41] rohbotics opened #27 "The Magni Demo Launch File uses SSL cert that doesn't exist"

[2017-06-11 22:46] #27 closed, assigned to rohbotics

[2017-06-13 04:41] #26 closed, assigned to jim-v

[2017-06-17 18:25] jim-v opened #30 "Remove topic_tools dep"
Use remap instead for cmd_vel

[2017-06-20 01:31] rohbotics commented on #25
We did a release, we can close this after testing the output.

[2017-07-29 20:17] rohbotics opened #33 "Assemble High-Level List of Packages for Virtual Box"
Should go in the README

[2017-08-05 20:10] #25 closed, assigned to rohbotics

[2017-08-05 20:53] jim-v opened #34 "Top level deps"
`apt install ros-kinetic-magni-robot` does not install the other packages in the meta package.

[2017-08-05 20:56] jim-v commented on #33
Here is the list of packages

[code]

[2017-08-05 21:11] waynegramlich commented on #33
All:

Do we really want to install ros-kinetic-desktop-full on the Pi?  I want it preinstalled
in the VirtualBox image, but I am skeptical that it should be preinstalled on any of the
robot platforms.

My $.02,

-Wayne

On 08/05/2017 01:56 PM, Jim Vaughan wrote:

[2017-08-05 21:12] rohbotics commented on #33
@waynegramlich This is for the virtual box.

Also here is the apt get command
[code]

[2017-08-05 23:42] rohbotics opened #37 "Fix magni_nav metapackge dep warnings"
I get these when I run a clean catkin_make:

[code]

Shouldn't be too difficult to fix.

[2017-08-12 20:34] #33 closed, assigned to jrlandau, jim-v

[2017-08-17 15:27] anfederman commented on #9
Added section in lear.magni.com on connecting to via pifi and new image

[2017-08-19 15:16] #34 closed, assigned to rohbotics

[2017-08-19 16:32] #30 closed, assigned to rohbotics

[2017-08-23 14:59] rohbotics commented on #14
Definition of Done:

The URDF reflects the actual physical form of Magni V5 (Blue ones).

[2017-08-23 17:18] davecrawley commented on #14
Note - that the new Magni V5 (blue ones) have some slight physical differences to the previous iteration. I have step and solidworks models of the new version. Let me know how I get these in to the URDF.

[2017-08-29 15:34] anfederman opened #41 "Magni Demos Speech control launch"
This launch file still refers to port 9090, ssl true and specifies the /etc/letsencrypt files.

This in incorrect and will not work and should be modified before being placed on the image.

[2017-08-29 15:38] jim-v commented on #41
See https://github.com/UbiquityRobotics/magni_robot/pull/39/files

[2017-08-29 15:38] #41 closed, assigned to nobody

[2017-08-31 18:56] jrlandau opened #42 "teleop_twist_keyboard not installed"
rosrun teleop_twist_keyboard teleop_twist_keyboard.py  results in package teleop_twist_keyboard not found.

[2017-08-31 18:58] jrlandau commented on #42
ubuntu@ubiquityrobot:~$ rosrun teleop_twist_keyboard teleop_twist_keyboard.py
[rospack] Error: package 'teleop_twist_keyboard' not found

[2017-09-02 03:22] rohbotics commented on #42
This is an issue with the image which doesn't have teleop_twist_keyboard installed.

[2017-09-14 05:57] davecrawley opened #43 "Battery Voltage topic not visible on latest image"
The latest image doesn't seem to publish a battery voltage topic. I see the following topics:

/cmd_vel
/diagnostics
/joint_states
/joy
/left_error
/motor_node/parameter_descriptions
/motor_node/parameter_updates
/right_error
/rosout
/rosout_agg
/tf
/tf_static
/ubiquity_velocity_controller/odom

Nothing that looks like a batt_voltage.

[2017-09-21 04:33] rohbotics commented on #43
Solved by 0.6.0 release of ubiquity_motor, which is waiting for sync.

[2017-10-08 23:50] rohbotics commented on #43
This is fixed on the current beta image (not yet released, needs more work).

[2017-10-08 23:50] rohbotics commented on #42
This is fixed on the current beta image (not yet released, needs more work).

[2017-11-12 00:53] #37 closed, assigned to rohbotics

[2017-11-12 23:47] rohbotics commented on #42
Solved in 2017-11-12 image

[2017-11-12 23:47] #42 closed, assigned to rohbotics

[2017-11-16 02:36] rohbotics commented on #43
Solved in 2017-11-12 image

[2017-11-16 02:36] #43 closed, assigned to rohbotics

[2017-12-23 04:59] rohbotics opened #45 "Only exec depend to speed up builds"
If we don't need it at build time, we can avoid installing it by only specifying it as an `exec_depend` in the package.xml.

Definition of done: use `exec_depend` instead of `depend` wherever applicable.

[2017-12-23 19:03] #45 closed, assigned to rohbotics

[2017-12-26 21:42] rohbotics commented on #45
For completeness the build is now down to 36 minutes.

[2017-12-27 00:19] rohbotics commented on #14
@davecrawley Are we still holding on the animators new 3d models?

[2018-01-27 21:22] davecrawley commented on #14
- [ ] Camera Positions
- [ ] Sonar Positions
- [ ] Wheel positions
- [ ] 3-D sensor positions
- [ ] Height of center point axles off ground
- [x] Set footprint params in `move_basic.launch`

[2018-02-24 21:25] #9 closed, assigned to anfederman, davecrawley

[2018-02-25 19:49] rohbotics opened #50 "Add a 'robot_mode' parameter"
The idea here is that we should have a parameter on the ros parameter server that says whether the robot is ready to navigate or not.

Robot Commander could use this to determine whether to accept nav commands or not.

Example to put in the launch files:
[code]

[2018-02-25 21:25] jim-v commented on #14
It would be good if we can flip the image so that it is upright.  This affects the camera orientation, and needs to be tested on the actual hardware.

[2018-02-25 21:46] #50 closed, assigned to rohbotics

[2018-03-03 21:52] rohbotics opened #54 "Verify Magni Geometry"

[2018-05-22 21:43] davecrawley opened #55 "ros-kinetic-magni-robot package broken"
When I type `sudo apt install ros-kinetic-magni-robot` it doesn't work!!
Fails with following error:

The following packages have unmet dependencies:
 ros-kinetic-magni-robot : Depends: ros-kinetic-magni-demos but it is not going to be installed
                           Depends: ros-kinetic-magni-nav but it is not going to be installed
E: Unable to correct problems, you have held broken packages

[2018-05-23 03:23] rohbotics commented on #55
Yes i noticed this while trying to do an image build.

I did a backport to try and fix it, run `sudo apt update` and try it again.

[2018-06-02 21:13] rohbotics commented on #55
resolved

[2018-06-02 21:13] #55 closed, assigned to nobody

[2018-06-04 19:10] rohbotics commented on #14
solved with #56 i believe

[2018-06-04 19:10] #14 closed, assigned to rohbotics, davecrawley

[2018-06-11 21:43] davecrawley opened #59 "Robot starts, but doesn't stop, driving in various situations (Regression)"
We've found that in the new image - certain behaviors are problematic. In particular when we give it a voice command to "go forward 10cm" it starts driving forward but never stops. We've also noticed that if we set a waypoint and tell it to go to it - it will start driving but never stop.

If we do this in a robot that doesn't have a camera in it (and thus cannot see the fiducials) it doesn't seem

[2018-06-11 22:18] jim-v commented on #59
Suggest using `rostopic` to check that the odometry is working and that `move_basic` is subscribed to the correct topic.  A second suggestion is to have `move_basic` abort goals if odometry does not indicate progress towards them.

[2018-06-11 22:23] jim-v commented on #59
Please disregard my previous comment.  My suggestion is to view use rviz to determine if the robot is moving in the expected direction.  If it is moving backwards with respect to the map frame in rviz, then the camera is not mounted consistently with the way it is specified in the URDF.

[2018-06-26 03:24] rohbotics commented on #59
Is this still a bug? Or was it a firmware issue?

[2018-07-03 15:42] anfederman opened #60 "Sonar Obstacle Detection not working on Magni"
After loading teleop and move_basic, obstacle_dis seems to be pegged at 9.9M.  This with the 'Has sonar' parameter changed from false to true.

[2018-07-03 16:18] rohbotics commented on #60
Are you getting sonar data?

You might have a busted sonar board or a bad connection.

[2018-07-22 00:36] #60 closed, assigned to nobody

[2018-07-22 00:43] #59 closed, assigned to nobody

[2018-09-22 06:12] rohbotics opened #63 "cmd_vel multiplexer"

[2018-09-22 06:13] rohbotics opened #64 "Velocity Smoother (reduce jerk)"

[2018-09-22 16:48] rohbotics commented on #63
Something like http://wiki.ros.org/twist_mux

[2019-01-26 21:07] rohbotics opened #65 "Read board version from i2c"

[2019-02-09 05:52] #54 closed, assigned to rohbotics

[2019-02-11 01:59] rohbotics opened #67 "Do all navigation in base_footprint frame"
This is the more correct frame, and is level with the ground plane.

Things that need to change:
 - Odometery Publishing
 - Fiducial Slam
 - Move basic

[2019-02-11 05:16] rohbotics commented on #65
From @mjstn's email

 sudo i2cget -y 1 0x20   Bottom 4 bits are board rev and most
significant bit is 1 if ECB for motor is ON.  The 4-bit address field is
inverted logic for '1' as 0xE

We only pull the LSB of the 4 board address bits to 0 for expansion
reasons.    So you will see 0xfe  if motor power is on and 0x7e if motor
power is off.

[2019-02-12 16:40] rohbotics commented on #67
@Polonium19 mentions that this is important for implementing the Gazebo model, because base_link has to be a child of base_footprint in order for odometry to work in gazebo

[2019-02-16 19:28] rohbotics opened #69 "Gazebo Model for Magni"
Being worked on by @Polonium19

Requires #67

[2019-02-17 19:27] rohbotics opened #72 "magni_desktop metapackage"
Make a metapackage that installs all the things you would expect on a workstation for magni.

- magni_description
- magni_viz
- magni_gazebo

[2019-02-19 17:39] matjazp opened #73 "Robot drives at high speed upon loss of WiFi"
When the robot looses wifi the robot apparently drives off at high speed for unexplained reasons. This occurred during a hackathon with multiple users logging in to the robot at the same time.

[2019-02-21 18:21] davecrawley commented on #73
Steps to make it occur
- Run a program any program
- After loss of WiFi
- Stop for 2 minutes
- Robot will drive off at high speed!

[2019-02-22 02:05] rohbotics commented on #73
Can you provide more details on exactly what programs you tried?

Are you using move_basic, or cmd_vel only? What else is running?

[2019-02-23 04:48] #67 closed, assigned to rohbotics

[2019-02-23 04:50] #69 closed, assigned to Polonium19

[2019-02-23 21:45] davecrawley commented on #73
- Issue occurred when running either fiducial follow or Teleop
- Robot operating in AP mode
- Loss of Wifi induced by moving the robot away from laptop
- Only seemed to be on certain (perhaps a single example) RPI

[2019-02-27 17:43] brunolfm commented on #73
On my early tests this problem have happened to me too.. unfortunately i didnt have the bag file recording!

This was what i was running at that time:

roslaunch pi_sonar pi_sonar.launch
roslaunch magni_nav move_basic.launch
roslaunch magni_nav aruco.launch
roslaunch magni_viz view_nav.launch

https://youtu.be/hNVPIjhQjwc

[2019-03-05 04:51] davecrawley opened #78 "Uncontrolled movement after killing and restarting motor node"
Start magni motor node
Publish a twist message periodically on /cmd_vel (e.g., 0.1m/s forward, 30Hz)
Observe Magni moves forward as expected
Stop motor node
Observe Magni stops as expected
Stop publishing messages on /cmd_vel
Start magni motor_node
Observe Magni is moving at max velocity for a short period of time seemingly proportional to the original velocity.
This looks like the firmware’s inte

[2019-03-05 09:59] hendrik-skubch commented on #78
Dear Dave,
here are some additional details:
- We observed this on firmware version 30.
- For reproduction we started the magni-base via roslaunch and terminated it with Ctrl+C.

[2019-03-06 23:59] mjstn commented on #78
Thanks for verification of this on rev 30.  Many features went into firmware version 32 and I was concerned this may be new but it is pre-existing.  Today this was duplicated on firmware version 29 which was our first official production run firmware.

[2019-03-07 01:54] mjstn commented on #78
Observations:
- Run joystick very slow prior to stop and the amount of 'catch up' is far less so speed of joystick is involved
- Wait a long time before the start and the amount of wheel movement is much greater.
- Full removal of power to motor controller at some point after the stop and power restored before the start of magni service leads to this issue not happening.  (The removal of power to

[2019-03-07 08:59] mjstn commented on #78
This problem is understood and a fix is being tested now.  We must regression test the firmware and then schedule it into a firmware release.  All this will take some time as a key member of our team is out for a few weeks we cannot form a firmware release easily just now.  Thank you for finding this issue.

[2019-03-13 07:09] pyhuang2011 opened #80 "Should have a breaker to cut all power of the system"
according to regulation,
recommend: https://jp.misumi-ec.com/vona2/detail/222000381211/?HissuCode=NF32-SV%202P%2020A&PNSearch=NF32-SV%202P%2020A&KWSearch=NF32-SV%202P%2020A&searchFlow=results2products

[2019-03-13 07:11] pyhuang2011 opened #81 "Manual initialize"
Manual initialize (a physical button or something in software) is required after press and release E-stop button - spin the motor should not be enabled just by release the E-stop button

[2019-03-13 07:15] pyhuang2011 opened #82 "Back-stay"
height difference
Bearing abnormal sound after 1-month running, payload is 25kg

we ask a decent endurance test on the promised payload

[2019-03-13 07:16] pyhuang2011 opened #83 "BMS"
Have a BMS according to regulation(should let the system know over current/over temperature...)
at least know is it charging.

[2019-03-13 07:17] pyhuang2011 opened #84 "charging port"
Something to hold the  charging port is desired, the current is easy to be damaged

[2019-03-13 07:19] pyhuang2011 opened #85 "The RPi position is not perfectly vertical"
we added an IMU, MPU9250 on the RPi position, it is fine for RPi if it is not vertical, but better to make the IMU vertical.

[2019-03-13 16:47] davecrawley commented on #83
Please point to the regulation you are referring to or give a comprehensive description. Over temperature detect is necessary for LiIon batteries due to their tendency to catch fire. Temperature is much less significant for Pb Acid

[2019-03-14 02:49] pyhuang2011 commented on #83
there are 2 parts,
one is a general description in regulation when you have issues related to safety you should stop the machine, I think over current and over temperature is. - need to know and record for diagnose.
the other is we want the robot to know it is charging so it can disable Movement，unless human remove the charging plug

[2019-03-14 04:36] davecrawley commented on #83
Well we have temperature measurement in the hardware which we can probably expose - so let's do that - it will take some time. Current measurement is in there too - we should expose that too.

[2019-03-14 04:39] pyhuang2011 commented on #83
so if you define discharge current is -xxx A, then charge current is + xxx A

[2019-03-14 05:34] davecrawley commented on #83
That's not quite how the current sensing works. It detects current being
used by the robot systems not net current in to the battery. In charging,
the robot will still show power consumption even if some of this current
comes from the charger rather than the batteries.

As such

+ power consumption and +dV indicates charging
+ power consumption and -dV indicates disconnected from the charger

The

[2019-03-15 09:36] bhuvanchandradv commented on #78
@mjstn May I know the status of the fix ?

[2019-03-18 16:59] rohbotics commented on #78
We are working on the v32 firmware release, which incorporates a number of bug fixes. We are aiming for early next week for limited public availability, and if no critical errors are found we will push it out more widely.

[2019-03-29 09:21] bhuvanchandra commented on #78
@rohbotics @mjstn, v32 firmware released ?

[2019-04-01 02:52] bhuvanchandradv commented on #78
@mjstn, @rohbotics,
After upgrading the firmware to v32 on Magni the uncontrolled movement issue seems to be solved. But there are continuous DESERIALIZATION ERROR (-5) messages in logs.

Logs:

[ INFO] [1554085793.006914315]: Firmware version 32
[ INFO] [1554085793.007143180]: Firmware version 32
[ WARN] [1554085793.106713952]: Setting P to 5000
[ WARN] [1554085793.156718648]: Setting I to 0
[ WA

[2019-04-01 04:26] mjstn commented on #78
Firmware v32 is one of 3 parts of what is required to fix the ESTOP issue properly.
1) Motor controller board of version 5.0 or later with hardware support to read ESTOP switch state
2) Firmware that can detect the state of the ESTOP switch
3) Host ROS side code that tells the firmware it is ok to 'believe' the ESTOP switch.

The 3rd item, host side code, is not released yet so the full ESTOP fix

[2019-04-01 06:56] mjstn commented on #78
Can you tell me a little more on the conditions of your system for getting the DESERIALIZATION error?
- Are you doing modifications to ubiquity_motor node for your own needs?
- Are you using any code in your system that writes to /dev/ttyAMA0
- Are you using a different serial port than the Raspberry Pi default serial port ttyAMA0

It looks like you are not using the normal startup service and are

[2019-04-01 07:59] bhuvanchandradv commented on #78
Our setup doesn't have a Raspberry Pi. We interfaced the Magni motor controller serial port via USB-UART(FTDI) to Intel NUC. The Magni_motor node is installed on the Intel NUC. (Note: No changes done to the motor node code). One minor change we did is to the python script. Since we use different /dev/tty* instance, we updated the firmware updater python script to use appropriate /dev/tty* instance

[2019-04-01 08:06] bhuvanchandradv commented on #78
Feature for sensing the ESTOP switch is available in v32 firmware ?

I do have the steps, which earlier were provided by you. But we are testing v32 firmware, to make sure the issues were fixed. All the issues reported were critical, and we cannot confidently use the robots with out the issues fixed.

[2019-04-07 20:16] #78 closed, assigned to nobody

[2019-04-09 01:58] #72 closed, assigned to rohbotics

[2019-04-10 05:04] pyhuang2011 commented on #80
it is from IEC 60204-1 (JIS B9960-1) 5.3
if ECB can also cut all power, it is fine to me, but I think in this case, spark should not be there when connect a battery

[2019-04-17 16:36] rohbotics opened #87 "Fiducials in Gazebo"
Create a gazebo environment with fiducials and magni

[2019-05-24 22:05] davecrawley opened #89 "Unable to add WiFi connections under pifi"
When I try the following I get the as shown errors.

ubuntu@ubiquityrobot:~$ sudo pifi set-hostname rachel
[sudo] password for ubuntu:
Changing hostname from rachel to rachel
ubuntu@ubiquityrobot:~$ sudo pifi add ActualWifiremoved  XXXXXXXXpasswordremovedXXXXX
sudo: unable to resolve host rachel: Connection refused
ubuntu@ubiquityrobot:~$ sudo pifi add ActualWifiremoved [XXXXXXXXpasswordremovedXXX

[2019-05-25 14:03] #87 closed, assigned to Polonium19

[2019-05-25 14:37] rohbotics commented on #89
Those sudo errors are safely ignoreable, it is a result of setting the hostname first.

[2019-05-25 18:33] #89 closed, assigned to nobody

[2019-05-25 23:26] davecrawley opened #90 "Lack of firmware register Limit Checking"

[2019-05-25 23:47] rohbotics opened #91 "Special case for 0 velocity in firmware"
If velocity is 0, and the error is less than 2 then we don't want to jitter around

[2019-06-15 20:44] rohbotics opened #93 "Directly front facing camera"

[2019-06-15 20:44] rohbotics opened #94 "Jetson Nano mount points"

[2019-07-06 21:14] rohbotics opened #95 "Move all user configuration to /etc/ubiquity/robot.yaml"
We do not want customers playing with the base.yaml stuff because it gets wiped on updates, has problems with catkin pulls, etc.

- [x] Serial port
- [x] Baud rate
- [x] PID parameters? if so add a giant comment warning
- [ ] Velocity limits
- [ ] Acceleration limits
- [x] OLED Display

[2019-07-22 02:50] rohbotics commented on #95
Waiting for https://github.com/UbiquityRobotics/magni_robot/pull/96 to be merged so that I can build on top of that code.

[2019-07-27 21:46] #65 closed, assigned to rohbotics

[2019-07-28 15:03] asergeenko opened #97 "Fixed Frame [odom] does not exist"
I got this error message when running "roslaunch magni_gazebo empty_world.launch":
Fixed Frame [odom] does not exist

Log says:
[DEBUG] [1564057088.520718745, 59.439000000]: Error transforming from frame 'sonar_0' to frame 'odom': "odom" passed to lookupTransform argument target_frame does not exist.
[DEBUG] [1564057088.522959976, 59.439000000]: Error transforming from frame 'sonar_1' to frame 'od

[2019-07-28 15:09] rohbotics commented on #97
Can you run `rosrun tf2_tools view_frames.py` and send me the resulting frames.pdf? This shows a diagram of the entire tf frame tree.

[2019-07-28 15:50] asergeenko commented on #97
[frames.pdf](https://github.com/UbiquityRobotics/magni_robot/files/3439324/frames.pdf)

[2019-08-08 11:49] asergeenko commented on #97
I forgot to install the dependencies:
`rosdep install --from-paths src --ignore-src --rosdistro=kinetic --skip-keys="libraspberrypi0 libraspberrypi-dev" -y`

[2019-08-08 11:49] #97 closed, assigned to nobody

[2019-09-07 20:06] rohbotics opened #98 "Downfacing camera pose (Rotation)"
The 20 degree downfacing new camera bracket and the full forward camera mount both need to have proper pose worked out and supported in the magni_description/urdf/magni.urdf.xacro file

[2019-09-17 03:43] mjstn commented on #98
The two new pose values have been worked out with names of 'downward' for the 20 deg down mount and 'ahead' for the straight ahead new camera hardware on new chassis iteration.
We still need to push these and then take actions so the next image has support built in.

[2019-10-11 22:48] rohbotics opened #100 "Allow camera extrinsics calibration to be loaded"
This should adjust the transformation between base_link and the camera pose.

[2019-10-13 15:57] #100 closed, assigned to rohbotics

[2019-11-10 01:10] #98 closed, assigned to mjstn

[2019-11-10 01:12] rohbotics opened #102 "Add velocity term to base.yaml"
We have a new pid parameter for the velocity target that needs to be tuneable

[2019-11-10 01:15] rohbotics opened #103 "Don't try to navigate if localization is very bad"
move_basic should give goal feedback if it is unable to achieve the goal due to a lack of fresh localization data

[2020-01-23 02:13] cnboonhan opened #108 "Add "Disable Time Sync" option to robot.yaml?"
I refer to this issue on [Discourse](https://forum.ubiquityrobotics.com/t/certain-topics-take-a-long-time-before-publishing/439/11).
In summary, for scenarios where Magni is connected to WiFi without an internet connection, the Magni waits for the full 20 iterations for `chrony` to sync, as specified [here](https://github.com/UbiquityRobotics/magni_robot/blob/indigo-devel/magni_bringup/scripts/lau

[2020-01-23 02:21] rohbotics commented on #108
@cnboonhan94 Thanks for opening the issue. It won't be the highest priority item, but we will try to address it soon.

[2020-01-23 02:24] cnboonhan commented on #108
@rohbotics its no issue! Thank you for your swift assistance.

[2020-02-01 22:40] rohbotics commented on #108
Hi @cnboonhan94

I made a PR for this issue https://github.com/UbiquityRobotics/magni_robot/pull/110

It allows you to add `force_time_sync: False` into your robot.yaml and disable all of the chrony time sync stuff. Let me know if this addresses your issue, or if there is something else that would be better.

[2020-02-13 14:34] cnboonhan commented on #108
apologies for the delay, i have not been able to look at this. I will try this out on the Magni as soon as possible, hopefully tomorrow. Thank you so much!

[2020-02-17 16:26] #108 closed, assigned to rohbotics

[2020-02-20 20:26] rohbotics commented on #95
OLED Display: https://github.com/UbiquityRobotics/magni_robot/pull/111

[2020-03-28 02:23] rohbotics commented on #95
Closing this for now.

[2020-03-28 02:23] #95 closed, assigned to rohbotics

[2020-04-25 19:03] MoffKalast opened #115 "Gazebo sonar config aways detects the ground at 1m away"
The sonar detection cones collide with the ground at roughly 1m away from the sensor due to magni's low height. I suggest either tilting the sensors upwards by a few degrees, making the cones flatter or narrower in all directions.

Furthermore the sonar max distance is set to 3.2m instead of 4m as is the spec for HC-SR04.

I'll make a pull request with the fix if this isn't intended behaviour.

[2020-04-30 02:11] rohbotics commented on #102
This is already done, closing.

[2020-04-30 02:11] #102 closed, assigned to rohbotics

[2020-04-30 02:12] rohbotics commented on #91
Closing this, as we opened a issue in the firmware repo for it.

[2020-04-30 02:12] #91 closed, assigned to mjstn

[2020-06-09 03:23] rohbotics opened #118 "Bad robot.yaml means auto start will fail"
Seems to be what happened here: https://forum.ubiquityrobotics.com/t/magni-unable-to-move/545/6

[2020-07-02 05:51] maryamnassar opened #120 "Fiducials code tries to run raspicam even in gazebo"

[2020-07-07 05:52] rohbotics opened #121 "New magni_robot Release"
It's been a long time since a new magni_robot release. We need to make one.

@kristjanp28 Can you get this repo from source and test it out to make sure that everything is in a working state?

[2020-07-10 14:07] #118 closed, assigned to rohbotics

[2020-07-16 19:26] rohbotics opened #123 "Motion Vectors in Gazebo"

[2020-07-23 08:38] davecrawley opened #124 "SSH login problem"
the root of the problem was that the ssh keys in /etc/ssh, which are used for the ssh server, were all empty -- zero-size files.  I removed all the zero-sized files like this:

# /bin/rm -v /etc/ssh/ssh_host_*

and then I generated new ssh keys like this:

dpkg-reconfigure openssh-server

After this, I restarted the ssh server:

sudo systemctl restart ssh

And ssh into the robot's pi now works fin

[2020-07-23 18:42] rohbotics commented on #124
Copying from the email I sent to the customer:

[2020-07-23 18:43] #124 closed, assigned to rohbotics

[2020-07-29 04:39] rohbotics opened #125 "Fiducial Follow is set up for a weird default fiducial size"
Fiducial follow isn't configured to use our normal 14cm fiducial size, but it really should be or it should be documented on how to get the correct size marker printed.

DOD: fiducial follow is set up for 14cm markers by default.

[2020-08-03 00:40] mjstn opened #126 "for pid params in robot.yaml if missing some params are mixed up"
Using  a clone of magni_robot it is expected that pid parameters are in robot.yaml file as well as many more things.

If robot.yaml is still the old one in /etc/ubiquity/robot.yaml then  derivative and denominator are mixed up.

- The default for  pid_derivative will end up being  pid_denominator setting at runtime taken from default_conf in launch_core.py

- The default for pid_denominator at run

[2020-08-03 00:44] mjstn commented on #126
I am suspecting this is some sort of side effect of the names being similar and somewhere one is used in place of other but I did not locate it myself in my browsing.  It may also be due to the clever use of a large container to hold default_conf and pass into roslaunch.main through sys.argv.  Maybe an ordering thing or a typo thing for similar names.

[2020-08-03 04:53] rohbotics commented on #126
I found it, making a PR now. https://github.com/UbiquityRobotics/magni_robot/blob/indigo-devel/magni_bringup/scripts/launch_core.py#L135

[2020-08-07 04:44] #126 closed, assigned to rohbotics

[2020-09-17 07:33] tp4348 commented on #120
@maryamnassar please give a bit of more insight what are you struggling with.

[2020-09-17 08:10] MoffKalast commented on #120
I'm pretty sure he means that the fiducial slam/follow launch file also starts up raspicam_node. There should probably be separate launch files for gazebo and real robots.

[2020-09-21 16:10] dorkamotorka opened #131 "Drive magni with Logitech Joystick"

[2020-09-21 16:14] rohbotics commented on #131
Could you provide more detail on this issue? This could be a couple different things, is this for the BLE joystick?

[2020-09-21 16:34] dorkamotorka commented on #131
This is Logitech Gamepad F710 joystick that was shipped to TP, it publishes on the /joy topic. Closing this issue would mean, that we are able to drive/steer the magni robot with it.

[2020-09-22 06:13] mjstn commented on #131
I also don't understand what this issue is about.
In the last 3 months and one from last month I have bought 2  LogiTech wireless F710 joysticks.
You put the dongle in the Pi and all the 'magic' to get speed on /cmd_vel all works.
You can take or default image or even a new Avalon one, no settings are required to be changed.

refer to:   https://learn.ubiquityrobotics.com/logitech

What exactly is

[2020-09-22 07:24] dorkamotorka commented on #131
I addressed it wrong. I was testing it on Magni in TP that probably no one touched for the last 5-6 months. The thing is, the Magni wasn't moving, although the joystick published on /joy topic. I might have missed something because it was my first time doing with the actual physical robot(However, I got it to drive with keyboard). I will close this issue, according to the fact the problem is more

[2020-09-22 07:24] #131 closed, assigned to dorkamotorka

[2020-10-03 05:54] mjstn opened #132 "The .rviz files in magni_viz/rviz use topic /ubiquity_sonar for sonars"
The .rviz files in magni_viz/rviz  use topic /ubiquity_sonar/sonar_X and should be   /pi_sonar/sonar_X

[2020-10-04 08:11] #132 closed, assigned to dorkamotorka

[2020-10-08 06:47] JanezCim commented on #120
@maryamnassar, @rohbotics or @MoffKalast  can anyone tell me how to reproduce this problem? Running `roslaunch magni_gazebo fiducial_world.launch` I do not encounter any problem. I am doing this on branch `indigo-devel`

[2021-01-04 16:38] eupedrosa opened #140 "[magni_description] Raspicam description does not follow ROS Coordinate Conventions"
## Summary

The `raspicam` sensor description (i.e. frames) does not not follow ROS Coordinate Conventions [REP 103](https://www.ros.org/reps/rep-0103.html).
From the REP:

Not following this convention can introduce unwanted results when using metric information extracted from the image. For example, the [fiducial detection package](https://github.com/UbiquityRobotics/fiducials/tree/kinetic-devel

[2021-01-15 21:17] anfederman opened #142 "magni_description description.launch"
` <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />`

The last Line needs to be changed to:

` <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />`

In order to work in Melodic and Noetic - generates a warning or fails to render model correctly in rviz/gazebo.

For some reason, I can't create my own pull request.

[2021-01-15 21:20] anfederman opened #143 "Gravity (Kinetics) model wrong in noetic, melodic."
The simulated Magni model flips forward on it's wheels in gazebo simulations once the robot stops.  Either the mass has to be shifted behind the wheels or drag needs to be added to the casters.

Gazebo in ROS Kinetic does not have this problem.

[2021-01-15 22:37] MoffKalast commented on #142
Oh wow, this may be a thing in kinetic as well. I've had that annoying issue happen on one of my installations but figured I set something up wrong. I'll run a short test and make the change if it works fine on kinetic as well.

[2021-01-15 22:56] MoffKalast commented on #142
Hmm, well it doesn't fix that specific issue but at least I can confirm that it makes no difference in kinetic. I'll make a PR.

[2021-01-15 23:03] MoffKalast commented on #142
Actually, let me set this as closed by the PR itself when it's merged.

[2021-01-18 21:54] #142 closed, assigned to MoffKalast

[2021-01-22 18:34] anfederman opened #145 "magni_bringup/scripts/launch_core.py syntax error under python3 (default noetic)"
this is a patched version which should work with both python and python3
 (fixed missing print ( ) )

I still can't create a pull request in this git - but I would rather have someone check me out on this since I don't trust my work)
---
#!/usr/bin/python

###
# Eventually this should do something smarter, like launch sonars
# 3DTOF, etc, if they are installed.
###

import sys, os, subprocess, tim

[2021-01-29 08:57] Polonium19 commented on #140
@eupedrosa  Thank you for contaciting with the issue.
The link `raspicam_sensor` is used only for Gazebo simulation to align Gazebo camera with link `raspicam`.
This additional link is required because Gazebo camera sensor is oriented following X-axis.
The real camera link `raspicam` is oriented following Z-axis (as it sould be according to the ROS convention).
Use only `raspicam` link for camera

[2021-02-02 08:08] JanezCim commented on #140
@eupedrosa  i've tried out the @Polonium19 s implementation and now it looks something like this:
![image](https://user-images.githubusercontent.com/8426792/106570130-c522db00-6535-11eb-81c5-33b517532fbe.png)
(front one named "raspicam_gazebo_sensor" and back one named "raspicam")

If we wont have "_sensor" and "_optical" frames for real camera then i think this is ok solution. In this case we jus

[2021-02-09 15:22] eupedrosa commented on #140
In my understanding of the ROS convention, there should always be a "_sensor" or an  "_optical" frame. That is why Gazebo requires the link `raspicam_sensor`. Gazebo is emulating the actual physical sensor that has its own coordinate system.

We usually use the word "sensor" to specify two different things:
1. The sensor box, for example, a camera that holds electronics.
2. The optical sensor that

[2021-02-12 03:37] mjstn opened #148 "Pi4 Ethernet cannot get Ipv4 assignment if plugged into MCB"
Have been running into a problem very consistently on one particular Pi4 but I don't have good sample size on other Pi4.
Issue is I get a new image (in particular 1-25-2021) and the Pi can fully run a magni and can work on WiFi but will not come up and get an IP from my network  EVER.

Insight into no IP addr on Pi4  on the 1-25-2021 image on just ONE of my Pi4 boards it seems.

I found that dmesg

[2021-02-12 03:54] mjstn commented on #148
Another HUGE clue.   If I make a good solid adapter to connect just the 2 +5 lines and two of the grounds from the MCB to the Pi4 it gets onto the network just fine.

I will now investigate if this is due to proximity of the Enet interface to the board OR is due to other lines connected to the MCB.

[2021-02-12 10:26] MoffKalast commented on #148
Just a thought, is this only DHCP related or is it also a problem with a static IP? If so it may be part of the problem we've having with the lidar communications on occasion.

[2021-02-12 10:46] mjstn commented on #148
No clue.   Just reporting this from standpoint of a very serious ethernt issue.  Wifi works fine.   Add to notes as observations are found.

[2021-02-12 21:06] mjstn commented on #148
Major clues:
- It also works when adding 3.3V but that is a no connect on MCB so so surprise there
- It does NOT work if I add in  I2C bus
- MAJOR clue!    A fully plugged in Pi4 works on ethernet if I remove the RTC from the MCB

I will note that I had been using the 3V battery so this is not as simple as the old 'no battery messes up things' issue.

I am capturing dmesg outputs from working and

[2021-02-13 00:26] mjstn commented on #148
From dmesg output we see these entries relating to RTC init when we have failure the MCP7940 is installed.

With MCP7940:    2.535865] rtc-ds1307 1-006f: registered as rtc0
No   MCP7940:     2.369936] rtc-ds1307: probe of 1-006f failed with error -121

Using a Pi3 we also see the 'rtc-ds1307 1-006f: registered as rtc0' message and that works fine.

We do not know if the presense of the RTC is resp

[2021-02-13 01:08] mjstn commented on #148
Well I really hate to resort to such tactics but I do have a fix although I cannot 'justify it with paperwork'.
**Modify /boot/config.txt  and change   boot_delay=2**

The default is 1 by the way.    This has worked 4 times so far and it NEVER worked before.

[2021-02-13 01:10] MoffKalast commented on #148
Seems legit. Well, as long as it works 👍

[2021-02-13 02:20] mjstn commented on #148
Vid:   Can you please do this on Avalon images too?

[2021-02-15 15:01] JanezCim commented on #148
The boot_delay seems to be helping with normal magni robots, restarted about 7 times now without problems - wheres before it failed to boot in about 1/5

[2021-02-15 17:36] rohbotics commented on #148
New testing image with the boot delay built in: https://ubiquity-pi-image.sfo2.cdn.digitaloceanspaces.com/2021-02-15-ubiquity-xenial-lxde-rpi-testing.img.xz

[2021-02-15 18:01] MoffKalast commented on #148
I'm sorry, it WHAT. Wait you're saying this fixes the baud rate bug as well?

[2021-02-15 19:36] JanezCim commented on #148
in about 1 out of 5 times I could not move motors on reboot and i saw this output.

![image](https://user-images.githubusercontent.com/8426792/107986958-6ba6bb80-6fcd-11eb-8d4d-7845d9d310bc.png)

I did not see this since updating boot_delay

[2021-02-16 16:41] MoffKalast commented on #148
@mjstn well it appears this fix also solves the baud rate bug somehow.

[2021-02-16 21:17] rohbotics commented on #148
Well that's convenient :grinning:

[2021-02-17 06:43] mjstn commented on #148
In general I am not real excited about claiming things are 'fixed' by a delay without an explanation of why or what the delay does to lessen chance of the root cause rearing its ugly head.

I am excited that we can greatly at least ease the trouble by use of such 'ugly'  blind delay techniques.

So I guess I'm just saying this to justify my discovery of this hack-workaround.

[2021-02-17 09:07] JGUO006 opened #149 "Fleet manager to integrate with RMF"
Hi,

May I know whether there is any package called fleet manager provided to integrate with RMF or RoMi-H? I have tried the office demo world under osrf/rmf_demo repository and wonder whether I can run the actual Magni robot and complete a simple delivery request instead of the simulated robot in office demo environment. May I know how I can integrate RMF (rmf_core, fleet manager, fleet adapter,

[2021-02-21 20:39] mjstn opened #150 "Account for git credential authentication on future images"
Need to understand and try the git authentication based repository access on our images.
It is likely to be fine but as of Aug 13 2021 (A Friday by the way) user and password access to our private repositories will have to be using authentication tokens.

https://github.blog/2020-12-15-token-authentication-requirements-for-git-operations/

[2021-02-21 20:51] rohbotics commented on #150
This shouldn't be an issue for the public images, as there are no authenticated pulls there. Not sure if any of the customer stuff still pulls directly from github, or if it all goes through the update system @MoffKalast

[2021-02-22 12:23] MoffKalast commented on #150
Well it's gonna be more of an issue on our development side, but otherwise not really I think. Customers either have their own accounts or update system access.

[2021-03-03 20:22] dorkamotorka opened #151 "Magni falling over in Gazebo"
@anfederman reported Magni in Gazebo is falling over onto the face when stopping. I think this is only the case for Melodic and Noetic where the simulation got "a bit more real".

[2021-03-06 18:15] anfederman opened #152 "mdmsum when connected via ssh"
[ERROR] [1615052244.401622947]: Client [/rostopic_7441_1615052235674] wants topic /battery_state to have datatype/md5sum [sensor_msgs/BatteryState/476f837fa6771f6e16e3bf4ef96f8770], but our version has [sensor_msgs/BatteryState/4ddae7f048e32fda22cac764685e3974]. Dropping connection.

This happens when the robot is running on Noetic, but I am running my laptop at 18.04 melodic.   I can drive the ro

[2021-03-11 19:36] barulicm-ms opened #153 "License Text Missing"
While all of the packages in this repository list their license as "BSD" in their package manifest, the actual text of the license seems to be missing from this repository.

Please consider adding a LICENSE file including the full text of the license under which this code is released. This will allow other organizations to modify and distribute (or not) this code as you intend.

Thank you!

[2021-03-15 20:06] MoffKalast opened #154 "Old PRs in magni_robot repo that need to be resolved"
- Feature corelaunch rewrite
- Max linear velocity increased to 1.1m/s
- Motion vectors in gazebo
- Adding support for nav2D flat nav. Adding some existing ROS params to…

[2021-03-15 23:03] mjstn opened #155 "Magni needs OLED node to come up by default on image and be included in apt upgrade"
As title says we need these two things for the Magni product line (includes breadcrumb but Magni robot is #1 priority)

1. get to Jenny in production proper images that have current OLED display actually set to come up.  The node ignores display if not found.
2. have things so an 'apt upgrade' pulls in OLED display node as well as whatever launch changes are required so   'magni-base' service incl

[2021-03-23 02:44] rohbotics opened #156 "Noetic release magni_robot"
We need to test and release magni_robot for noetic.

Will probably need a large Python3 migration.

[2021-03-25 07:09] JanezCim commented on #154
solves

So the #140 thing is not needed on your list

[2021-03-25 12:28] JanezCim commented on #153
is meantioning BSD inside
https://github.com/UbiquityRobotics/magni_robot/blob/1a4a8a2a30b6ff0c089c40ddf0d393385a78381d/magni_bringup/package.xml#L8
not enough? Why would we need to include the full text? Is it suggested by any REP (looking at [REP140](https://www.ros.org/reps/rep-0140.html#description) this is not mentioned anywhere)

do you have and idea @rohbotics or @MoffKalast ?

[2021-03-25 15:15] barulicm-ms commented on #153
We are asking that same question about the package manifest to our legal team.

I'm certainly not a lawyer or legal expert by any means. The strongest point of evidence I could point to that would suggest the repository should include the full text of the license is the text of the BSD license itself. The license claims that any redistribution (source or binary) must retain or reproduce the licens

[2021-03-25 15:57] anfederman commented on #155
This is already implemented in my SD image.   Changes were made to the /etc/ubiquity/robot.yaml   and /magni_robot/magni_bringup/ base launch.py   -  also  oled_display_node files.

[2021-03-25 15:58] anfederman commented on #143
This was solved.

[2021-03-25 15:58] #143 closed, assigned to nobody

[2021-03-25 16:00] anfederman commented on #151
Has this been fixed now?  I think there is a pull request pending, if so we can close.

[2021-03-25 16:02] anfederman commented on #81
Closing due to age.

[2021-03-25 16:02] #81 closed, assigned to nobody

[2021-03-25 16:03] anfederman commented on #84
closing due to age.

[2021-03-25 16:03] #84 closed, assigned to nobody

[2021-03-25 16:20] anfederman commented on #155
The only change needed (I think)  is to the robot.yaml file

ubuntu@magnitest:/etc/ubiquity$ more robot.yaml :+1:
--------
# Robot Configuration

raspicam: {'position' : 'front'}

#sonars: None
sonars: 'pi_sonar_v1' # Use this to enable sonars

#OLED display

oled_display: {'controller' : 'SH1106'}

------

[2021-03-26 11:05] MoffKalast commented on #151
Yes, there's #157 but I still have to test it out on kinetic if everything's fine before we call it good, just so we don't break all of our existing projects prematurely. I'm not sure if the fix is backwards compatible or not yet.

[2021-03-26 11:07] MoffKalast commented on #155
Ok that's good to know, we should add that to the script that generates the yaml.

[2021-03-26 12:52] MoffKalast commented on #151
Closed by #157

[2021-03-26 12:52] #151 closed, assigned to nobody

[2021-03-26 16:47] anfederman commented on #151
So a pull of magni_robotb will fix?

On Fri, Mar 26, 2021, 5:52 AM MoffKalast ***@***.***> wrote:

[2021-03-27 01:40] anfederman commented on #151
I just tested and it appears fixed.

On Fri, Mar 26, 2021, 9:47 AM Alan Federman ***@***.***> wrote:

[2021-04-06 10:30] #140 closed, assigned to JanezCim

[2021-04-06 18:59] JanezCim commented on #93
has been implemented with https://github.com/UbiquityRobotics/magni_robot/pull/146

[2021-04-06 18:59] #93 closed, assigned to nobody

[2021-04-08 17:16] anfederman opened #158 "dnn_rotate and fiducial_follow both fail in Noetic"
There are no error messages on the build or launch, but neither work.

rostopic echo /dnn_objects ERROR: Cannot load message class  Are your messages built?   No objects are detected.

fiducial_follow  marker is detected and co-ordinates are echoed, but no cmd_vel topics sent. The robot is still drive-able with the joystick, so I am not sure if it is a mux issue, or missing transform.

The only ed

[2021-04-19 20:22] rohbotics opened #159 "Launch core should generate roslaunch XML"
Generating the XML will likely allow us to have a simpler, easier to modify system for the robot launch, compared to passing in dozens of parameters.

[2021-04-30 11:17] #153 closed, assigned to nobody

[2021-05-06 13:33] JanezCim opened #162 "Enabling lidar and its extrinsics through robot.yaml"
It can maybe be done in the exactly the same way camera extrinsics is currently done. Good first issue

[2021-05-07 07:12] JanezCim opened #163 "Todo list for new ubiquity-xenial-lxde RPI image release"
We are making updates on magni_robot repo, but some changes are going to be needed to be included in the new public image release (on https://downloads.ubiquityrobotics.com/pi.html). This is a placeholder for those changes that need to happen. Please feel free to add stuff to this list

- [ ] Include `source <path_to_scrpit>/ros_log_clean.sh` into /usr/sbin/magni-base and comment it out by default

[2021-05-07 07:14] JanezCim commented on #163
@MoffKalast, @mjstn  do you have something to add to this list?

[2021-05-07 07:22] JanezCim commented on #148
@mjstn i added this hack to the todo change list for the new image that we will release publicly in #163 and referenced this issue there as well, so we might as well close this if you are not planning to do a deeper dive into solving it.

[2021-05-07 08:50] MoffKalast commented on #163
You should probably make this as a PR in https://github.com/UbiquityRobotics/pi_image_build, after all that's the config that has the buildbot generate the actual stock image. Not really magni_robot related.

Boot delay has already been implemented months ago afaik, but I haven't verified.

Tl;dr; that's not how it works, that's not how any of this works 😄

[2021-05-07 09:02] JanezCim commented on #163
ok, didnt know that exsisted, will do a PR there, thanks!

[2021-05-07 10:48] JanezCim commented on #163
Boot delay has already been fixed here:
https://github.com/UbiquityRobotics/pi_image_build/blob/b5a0343018876410b1236d195324051bb37027cf/files/config.txt#L660

and ive added the logclean file option into a PR in that repo, so closing this

[2021-05-07 10:48] #163 closed, assigned to mjstn, JanezCim, MoffKalast

[2021-05-10 18:53] MoffKalast opened #164 "Mechanical drawings out of whack"
Tolerances!

[2021-06-07 17:29] anfederman opened #166 "Python 3.8 issues"
I recently upgraded to 20.04 Noetic on an Acer (old Turtlebot laptop)  I had previously updated Python from 3.5/6 to 3.8 to run pygames on the unit.  I then installed noetic desktop full and rebuilt catkin with magni-robot.

I am having numerous Python issues with libraries not found and looking in the wrong paths.  Specifically numpy and shiboken2 aren't found on roslaunch, and hence magni-gazebo

[2021-07-21 15:27] rohbotics commented on #166
#167 fixes the launch related python3 bugs in the noetic-devel branch.

[2021-07-21 15:27] #166 closed, assigned to nobody

[2021-07-21 15:28] rohbotics commented on #162
Closed by #165

[2021-07-21 15:28] #162 closed, assigned to nobody

[2021-07-21 15:28] rohbotics commented on #159
Closed by #165

[2021-07-21 15:28] #159 closed, assigned to JanezCim

[2021-07-21 15:30] rohbotics commented on #145
Closed by #165 and #167

[2021-07-21 15:30] #145 closed, assigned to nobody

[2021-07-21 15:32] #121 closed, assigned to rohbotics, kristjanp28

[2021-07-22 17:44] rohbotics opened #169 "Automated test for launch_core"
We should write some automated tests to make sure that launch_core is functional, maybe just running it with `--debug` and various settings to make sure that the outputted launch file is reasonable.

@JanezCim Thoughts?

[2021-07-23 11:15] JanezCim commented on #169
That would def be a good idea. Even a necessary one since its super important to get it right if changes happen. But what do you suggest we do the "resonability" test of the launch file with? Just reading it with `file()` and doing some checks in the code (what would that look like)? Would it be smart to even do ROS unit tests on the script?

[2021-07-26 10:33] JanezCim commented on #169
ok so quoting from slack

ok so since noetic seems to be our last ROS1 release, and ROS2 wont need a XML generation, would be smart to dedicate a huge effort to automating this even? Maybe if we plan to support Noetic for the next 5 years then a smaller scale test would be better?

[2021-07-26 17:03] rohbotics commented on #169
I think checking that it generates valid XML is a good start, and we should definitely do that as a minimum. Maybe we could do that with a few different configuration options as well. Anything more than that is probably too much effort for not much reward (we will still be manually testing anyway) considering the upcoming ROS2 migration.

[2021-07-26 19:13] #164 closed, assigned to davecrawley

[2021-07-26 19:21] #154 closed, assigned to rohbotics

[2021-07-26 19:25] #155 closed, assigned to rohbotics, MoffKalast

[2021-07-26 19:47] cst0 opened #170 "Firmware not reporting version, rejecting communication"
I'm trying to run this package from source after finding that the default image isn't quite what we're looking for, and I've run into a bit of trouble here. Running the command `roslaunch magni_bringup base.launch` fails to actually work: a series of warnings reading

[code]

repeat, with the occasional

[code]

I assume this is related to an error that presents itself before the ROS content launc

[2021-07-26 20:41] cst0 commented on #170
Some more investigating: the error messages are being produced by the motor_node within ubiquity_motor, which I had actually installed via the binaries for ros-melodic. I was unable to get the test_motor_board to run on that version due to a typo in the execution path of that file, so I tried instead installing that package from source as well: I'm seeing the same error here in the motor_node.

Th

[2021-07-26 20:54] cst0 commented on #170
Found this [thread](https://forum.ubiquityrobotics.com/t/motor-node-fails-with-firmware-not-reporting-its-version/183/5), but the associated config files discussed there didn't work after a reboot. I've also now tried both the most recent commits on the kinetic-devel and the noetic-devel branches on both this repo and the ubiquity_motor repo, so I'm now running through the [Troubleshooting](https:

[2021-07-26 21:05] cst0 commented on #170
Unfortunately I haven't had any luck with that. This seems to be the "rare baud rate bug", but rebooting certainly does not get rid of it. It seems odd to me that the page marks it as resolved, as the link to resolve the error through updating does not actually link to a page with any content about updating (and I'm updated to the extent that that's possible anyway). Using the `rosrun ubiquity_mot

[2021-07-26 23:05] mjstn commented on #170
A bit late getting to this.   Hello Chris.   Please tell me what the version of your MCB (main board) is.   This is key to possible solutions.   Boards from the last year have MCB board rev in nice big white silkscreen on left edge of the board as you face the robot.     Older boards can be VERY hard to read the board rev (in same place) so I have this page:   https://learn.ubiquityrobotics.com/PC

[2021-07-27 10:56] JanezCim commented on #169
Yeah okay but how would you check of the XML is valid? try to roslaunch it and if it fails its not ok? Is there any other ROS-way to do the validation?

[2021-07-27 16:34] rohbotics commented on #169
The best option is probably running `roslaunch check` https://wiki.ros.org/roslaunch/Commandline%20Tools#roslaunch-check

[2021-07-28 15:21] cst0 commented on #170
Thanks-- this is running on the 5.3, although I'm fairly confident it was a software issue on my end. I'll close this since I've resolved it, but I'll add more detail just in case anyone else comes across this thread.

Because I've been adding some additional sensing hardware and other resource-intensive software to the Magni for our use-case, we decided it made sense to try to offload some of tha

[2021-07-28 15:21] #170 closed, assigned to nobody

[2021-08-05 08:03] rohbotics opened #172 "New launch_core doesn't work with old robot.yaml"
If someone just copies their old robot.yaml over, the new launch_core script may fail.

Old default yaml:
[code]

This errors on:
ERROR: 'camera_installed' entry was not found in conf['raspicam']

Expected behavior:
A missing key in the yaml should be replaced by the same key in the default yaml.

[2021-08-06 21:16] rohbotics commented on #156
Done!

[2021-08-06 21:16] #156 closed, assigned to nobody

[2021-08-09 15:55] anfederman opened #173 "Missing Nodes"
fiducial_follow.py and other nodes are missing in the the latest distro.  They exist in the old demos github, and are written in python2  These need to be included or discarded in that currently, launching them will produce a 'node not found' error.

[2021-08-20 15:47] JanLipovsek opened #174 "magni_gazebo launch files not working"
Magni_gazebo launch files cant load robot_description parameter

[roslaunch][INFO] 2021-08-16 17:07:11,371: Checking log directory for disk usage. This may take a while.
Press Ctrl-C to interrupt
[roslaunch][INFO] 2021-08-16 17:07:11,376: Done checking log file disk usage. Usage is <1GB.
[roslaunch][INFO] 2021-08-16 17:07:11,376: roslaunch starting with args ['/opt/ros/noetic/bin/roslaunch', 'magn

[2021-08-20 16:01] anfederman commented on #174
Noetic/Ubuntu 20.04 doesn't support Gazebo on a Raspberry PI.  There was no
deb for Gazebo on a pi Unbutu 20.04. I am not sure, but I don't think it
exists for either ARM32 or ARM64.  At any rate, there isn't a desktop-full
for the ARM32 Pi ubuntu.

Magni-gazebo worked fine on Pi running 18.04 melodic.  I will try to
install magni_gazebo on an AMD64 Ubuntu and see if it works.

On Fri, Aug 20, 202

[2021-08-20 16:45] anfederman commented on #174
I have tested magni_gazebo empty_world launch on my Ubuntu 20.04 AMD64
laptop.  It works well.
I don't think we need to worry about getting this working on a Raspberry PI.
[image: image.png]

On Fri, Aug 20, 2021 at 9:01 AM Alan Federman ***@***.***>
wrote:

[2021-08-20 16:54] JanLipovsek commented on #174
Yeah i forgot to mention in my first post that I was trying to run the noetic_devel branch of magni robot on my PC runing ubuntu 20.04. The indigo_devel branch works OK.

[2021-09-01 11:27] JanezCim commented on #174
@JanLipovsek  noetic_devel branch is still very much in development, it is in now way a release. There has been a huge reconstruction of how gazebo launches and bringup files are ran at the boot of the robot. So that branch is very prone to errors which we are trying to solve. You can read how the new bringup works here: https://github.com/UbiquityRobotics/magni_robot/blob/noetic-devel/magni_bring

[2021-09-01 16:15] anfederman commented on #174
I am guessing since magni_gazebo won't work on a Pi under noetic, it won't be released on the final image?   It needs to be broken out as a separate installation. If we intend to continue to support gazebo.

Also if we intend to support it for workstations, we need to modify it to support fiducials.  empty_world launch works ok on my laptop, but the fiducial_worlds doesn't show the ceiling markers

[2021-09-06 19:25] rohbotics opened #175 "magni_description missing install rules"
We need to add the cmake install rules for the default extrinsics, they are not present in the debian version of the package.

[2021-09-07 08:25] JanezCim commented on #174
@anfederman afaik till now magni_gazebo was always included within the Pi image even though it was never used there. A bit of dead weight, for downloading and compiling. We could put it in a separate repo but then you have another thing to support and you have to probably change some READMEs - what is your opinion here @rohbotics ?

Im taking a look at the fiducial ceiling markers now.

[2021-09-07 08:38] JanezCim commented on #175
When making the current state I was planing that the default extrinsics would live in `magni_robot/magni_description/extrinsics/`. So im not sure what you mean with "add the cmake install rules for the default extrinsics"

[2021-09-07 08:41] JanezCim commented on #172
I see, good catch, will try to fix it!

[2021-09-07 10:14] anfederman commented on #175
Except the Magni gazebo launch doesn't find the camera in noetic because
the extrinsics folder isn't found. On the beta, the extrinsics folder was
missing, or perhaps under a param folder?

On Tue, Sep 7, 2021, 1:39 AM Janez Cimerman ***@***.***>
wrote:

[2021-09-07 12:08] JanezCim commented on #175
@anfederman do you mean the
`[Errno 2] No such file or directory: u'/home/janez/Documents/Projects/ubiquityrobotics/magni_ws/src/magni_robot/magni_description/param/camera_extrinsics_forward.yaml'
`
problem? That is a simple directory problem that I have just fixed here: https://github.com/UbiquityRobotics/magni_robot/pull/176  can you try if it works? I assigned you as a reviewer.

[2021-09-07 12:53] JanezCim commented on #174
Fiducial ceiling markers should be solved with https://github.com/UbiquityRobotics/magni_robot/pull/176

[2021-09-07 17:20] anfederman commented on #174
Sorry  after applying 176:

xacro: in-order processing became default in ROS Melodic. You can drop the
option.
[Errno 2] No such file or directory:
'/home/dr1bot/catkin_ws/src/magni_robot/magni_description/param/camera_extrinsics_forward.yaml'

  I needed to copy the directory 'extinsics' to 'param'  and then empty
world worked ok on my laptop noetic.

I think you nan fix by editing the magni.laun

[2021-09-07 17:33] anfederman commented on #174
Also , fiducial world launches, if you edit the launch and change the
camera to:

<arg name="camera_position" default="forward"/>   (as opposed to
raspicam_mount)

However the map isn't launched and the ceiling fiducials aren't being
displayed.

On Tue, Sep 7, 2021 at 10:20 AM Alan Federman ***@***.***>
wrote:

[2021-09-07 18:58] anfederman commented on #175
This is still an issue in that in magni_gazebo  it was still looking for the extrinsics file in param  which didn't exist in /opt/ros/noetic/magni_description.    I fixed it locally by "sudo cp -r extrinsics param"

[2021-09-08 09:06] JanezCim commented on #175
hmm, that is strange because it works on my Ubuntu 20.04, ROS Noetic machine just fine:
by running

`roslaunch magni_gazebo fiducial_world.launch`

![vsdf](https://user-images.githubusercontent.com/8426792/132480188-094e89bf-0f90-4d7f-a62d-ef0fa012a84a.png)

What machine are you using? Can you recheck that you are checkout and pulled the branch `bugfix-gazebo-extrinsicsfolder`? What command are yo

[2021-09-08 17:09] anfederman commented on #175
***@***.***:~/catkin_ws/src/magni_robot$ git branch
  bugfix-gazebo-extrinsicsfolder
* noetic-devel
***@***.***:~/catkin_ws/src/magni_robot$

 [fiducial_marker_spawn-16] process has finished cleanly
log file:
/home/dr1bot/.ros/log/9120ef1c-10c6-11ec-ad8a-1778231a9cf4/fiducial_marker_spawn-16*.log
[ INFO] [1631120616.895179499, 0.700000000]: Updating map with 0
observations. Map has 16 fiducials
[

[2021-09-09 14:01] JanezCim commented on #174
This was corrected here: https://github.com/UbiquityRobotics/magni_robot/blob/f5560cdef82d67f2936ee2677cd88be1105cdc49/magni_gazebo/launch/magni.launch#L22

This has been corrected here: https://github.com/UbiquityRobotics/magni_robot/blob/f5560cdef82d67f2936ee2677cd88be1105cdc49/magni_gazebo/launch/fiducials/fiducial_world.launch#L4

I've had exactly the same problems that you are having and solv

[2021-09-09 14:10] JanezCim commented on #175
This seems to be indicating that you are on `noetic-devel` branch, You should be on `bugfix-gazebo-extrinsicsfolder` branch. Please do so with

[code]

recompile and try again

[2021-09-09 15:00] rohbotics commented on #175
Hey  @JanezCim

The issue is that by default only "installed" components of the package will be included in a binary distribution, and currently we are not installing the extrinsics. They need to be installed just like the launch and the urdf directories here:  https://github.com/UbiquityRobotics/magni_robot/blob/noetic-devel/magni_description/CMakeLists.txt#L114

[2021-09-09 19:08] anfederman commented on #174
roslaunch magni_gazebo fiducial_world.launch

everything works, no errors except no upward markers seen on gazebo.

further these warnings:

, set to ""
[ WARN] [1631214085.736891296, 0.001000000]: dynamic reconfigure is not
enabled for this image topic [raspicam_node/image] becuase <cameraName> is
not specified

so I think the markers images aren't being spawned:

  Publish frame odom on tf: enab

[2021-09-10 08:22] JanezCim commented on #175
@rohbotics oh okay i think i see the problem, but then I suspect that @anfederman is experiencing a completely different set of problems.

I've included the install rules in #177

@anfederman  i think this is a discussion that is a duplication of #174 anyway, so lets continue solving that there.

[2021-09-10 11:39] anfederman commented on #175
On my laptop, I might be missing something. For instance I have Magni robot
and fiducials, but no Raspicam node. So even though there is an extrinsics,
something else is missing. Same thing might be true on the ARM64 RPi., But
Raspicam node is there. It might be missing some dependacy.

On Fri, Sep 10, 2021, 1:22 AM Janez Cimerman ***@***.***>
wrote:

[2021-09-10 11:45] JanezCim commented on #169
Yeah, okay, so some update on this: the problem is that roslaunch-check works only if `abc.launch` is inside the `package/launch/abc.launch` because when checking for launch dependancies it looks at where the actual location of launch file is:

When I try to launch it from /tmp/:
[code]
But when I try moving to magni_bringup/launch it works:
[code]
This means we would need to move the core.launch

[2021-09-10 18:00] anfederman commented on #174
OK here's the breakdown

magni Gazebo fiducial world launch display fiducial grid latest bugfix
branch do the fiducials display:

Noetic acer laptop  -  no
Raspberry PI ARM64 noetic - no
Jetson Nano melodic -   yes

I will try on another laptop/ AMD/Intel platform, but I am losing interest
in trying to track this glitch down.  On the Acer it is saying not
observing markers on the map, on the Pi it

[2021-09-13 09:39] JanezCim commented on #174
If this is really a platform issue someone else should try to test this if it works. @JanLipovsek  can you try launching `roslaunch magni_gazebo fiducial_world.launch` on the` bugfix-gazebo-extrinsicsfolder` branch if it works for you?

[2021-09-20 08:38] JanezCim commented on #174
@JanLipovsek tried this out and it worked on Noetic. So how I would go about this is that if you have a specific platform that this is not working on, you should open a separate issue for that thing specifically and then we can solve it there. For now i'd call this solved

[2021-09-20 08:38] #174 closed, assigned to nobody

[2021-09-21 15:11] #175 closed, assigned to JanezCim

[2021-09-21 17:35] anfederman commented on #175
BTW  the bugfix has eliminated the magni_gazebo fiducial world not
displaying fiducials issue, which occurred on some of my platforms.

On Tue, Sep 21, 2021 at 8:11 AM Rohan Agrawal ***@***.***>
wrote:

[2021-09-21 17:37] anfederman commented on #174
FIducial world now launched on all four of my tested platforms.

On Mon, Sep 20, 2021 at 1:39 AM Janez Cimerman ***@***.***>
wrote:

[2021-09-22 07:24] JanezCim commented on #175
@anfederman ok we can continue the discussion for fidducials issue on #174

[2021-09-22 09:37] JanezCim commented on #149
Hello @JGUO006 sorry for the large delay. I dont know if anyone here internally already integrated Magni code into the open_rmf framework but maybe somebody in the community has, could you also ask this question on UR discord channel: https://forum.ubiquityrobotics.com/
But it would be interesting idea to have Magni integrate into that! Will suggest this to people

[2021-09-22 17:51] anfederman opened #180 "tracking bug-fix issues"
Trying to figure out which branch should be used for testing is confusing, especially when the issue being addressed isn't specified.
For example the issue called bugfix-extrinsic got changed to bugfix-175.  I no longer know what should be pulled/checkout when testing different parts of code.

[2021-09-23 14:58] JanezCim commented on #180
I think you dont have to test every branch that exsists in the repo (some of them are stale or only for testing). What should rather be tested are the PRs and their descriptions should include the instructions for testing that. Naming a branch bugfix-175 just indicates that this branch is trying to fix issue "#175" of the same repo

[2021-09-23 18:27] anfederman opened #181 "Noetic image magni_demos fiducial_follow.launch"
After trying to incorporate raspicam_flip vflip,hflip no change in weird behavior.

Marker is detected and either moves toward briefly and then either loses it and begins to search or
robot moves backward at full spedd for about one second veers left, then begins searching.

this behavior is identical to using an 'unflipped' camera.

[2021-09-23 18:30] anfederman commented on #181
I am guessing this is an issue with the demos/nodes/follow.py code, since it seems the transform between image and base is absent or wrong.

[2021-09-28 09:36] JanezCim opened #182 "Try out open rmf"
https://github.com/open-rmf/rmf_demos

[2021-10-01 09:31] JanezCim commented on #180
@anfederman hopefully this is clear now? If not please reopen issue

[2021-10-01 09:31] #180 closed, assigned to nobody

[2021-10-01 12:39] JanezCim opened #184 "Change Lidar location on Top plate"
Zdej pa šeenkrat spremenjene želje ker so na sestanku včeraj ljudje želeli malo drugačno postavitev ekrana in lidarja na magni-ju:

dodatne info:
 - ekran je centralno poravnan
 - za inštalacijo ekrana bomo uporabili m3 standoffe tako da bi bile lokacije lukenj malo drugačne - na sliki
 - lidar luknje ostanejo isto razporejene med seboj, samo lidar lokacija bi se spremenila, tako da pride malo bol

[2021-10-04 15:07] AljazKrsnik commented on #184
Hello

[2021-10-06 13:41] JanezCim commented on #184
Hey @AljazKrsnik  how is this going?  :)

[2021-10-06 17:47] AljazKrsnik commented on #184
![sestav lider lokacija](https://user-images.githubusercontent.com/87651656/136256179-b93dc676-32d6-44e6-9aa4-817327c046db.PNG)

[2021-10-07 07:55] JanezCim commented on #184
Nice! Please can you give me the measures of the lidar x,y like its shown on the first picture? Also I forgot to mention, please also delete the square hole on the top plate, we dont need that anymore

[2021-10-11 11:52] JanezCim opened #185 "Noetic networking netstat VS NetworkManager (round one, fight)"
Image: 2021-08-06-focal
Rpi4

**TLDR:**
I think i cant set a static ip in the RPI with `netstat` on `eth0` because `pifi` is installed

**Long version:**
While tried setting the static IP on eth0 for lidar to work, we've come across a problem, that we cant configure it with the netstat networking tool, which is default on ubuntu 20.04. These tutorials were followed:
https://pimylifeup.com/ubuntu-2

[2021-10-11 17:44] AljazKrsnik commented on #184
[TOP plate - added Lidar holes V_1.PDF](https://github.com/UbiquityRobotics/magni_robot/files/7324396/TOP.plate.-.added.Lidar.holes.V_1.PDF)

[2021-10-11 17:48] AljazKrsnik commented on #184
Posiljam top plate brez izpranitve. Mislm, da je pozicija liderja dobro
definirana v x in y. Če pa rabiš dodatno kaj oz. nisem razumel pa povej.
Lp Aljaž

V V čet., 7. okt. 2021 ob 10:28 je oseba Janez Cimerman <
***@***.***> napisala:

[2021-10-12 07:24] JanezCim commented on #184
Okay I see it now, thats ok, can you also attach the 3d file without the square hole and then we can close this :
![wohole](https://user-images.githubusercontent.com/8426792/136910648-1e2e11d4-5e85-46ed-a0d3-25b565da928c.png)
)

[2021-10-13 04:58] AljazKrsnik commented on #184
File ki sem ti ga poslal, je že brez te luknje. Lp

V V tor., 12. okt. 2021 ob 09:24 je oseba Janez Cimerman <
***@***.***> napisala:

[2021-10-13 07:28] mjstn commented on #184
I would like to request that posts to the issues be first translated with google translate or something so we maintain issue comments in English please.    I am unable to follow this issue as it stands.   Thank you for helping me.

[2021-10-13 12:13] AljazKrsnik commented on #184
Ow sory. Conversation will continue in english from now on.

V V sre., 13. okt. 2021 ob 09:28 je oseba Mark Johnston <
***@***.***> napisala:

[2021-10-14 14:15] JanezCim commented on #184
yes, and @AljazKrsnik this needs to become part of the default magni model on zoho. Then we can close this issue

[2021-10-15 09:27] JanezCim commented on #184
![standoffs](https://user-images.githubusercontent.com/8426792/137465350-9bf544d2-337e-407f-8683-2e189a1bee2d.png)

[2021-10-15 09:54] AljazKrsnik commented on #184
Consider it done

V V pet., 15. okt. 2021 ob 11:27 je oseba Janez Cimerman <
***@***.***> napisala:

[2021-10-15 11:10] JanezCim commented on #184
yes, i've taken a look into this again and the screen holes actually should not have screw inserts Because the screen itself has a threaded hole. So the standoff would have to be screwed with a separate M3 screw from the bottom of the top plate
![standoofffs](https://user-images.githubusercontent.com/8426792/137478213-09f424cb-aadd-4837-b154-03e3d3ae73ab.png)

[2021-10-25 10:09] JanezCim commented on #184
Please @MihaJelencic cut the top plate I sent to you on pvt with laser cutter and try to bolt it to the magni robot. Then place on top of it the ls lidar and a screen. We would just like to double check if all the holes on the new design of the top plate are fitting, before we produce houndrets of them. You dont have to screw on the lidar but i would like to ask you if you could do that with the s

[2021-10-28 07:58] MihaJelencic commented on #184
![20211028_095402](https://user-images.githubusercontent.com/76433738/139212229-93adb0f8-fb40-4086-be8a-2d86921705e0.jpg)
![20211028_095339](https://user-images.githubusercontent.com/76433738/139212241-c5bb54cf-e32b-44d3-96dc-4710a69f4e53.jpg)
Everything seems to fit

[2021-10-28 11:37] JanezCim commented on #184
Cool, thank you!

[2021-10-28 11:37] #184 closed, assigned to MihaJelencic, AljazKrsnik

[2021-10-28 13:38] anfederman commented on #184
Could you also publish the x y z relative to base link and base footprint
of the holes on the top plate. This for figuring out description files for
other lidar like the LD06

On Wed, Oct 6, 2021, 6:41 AM Janez Cimerman ***@***.***>
wrote:

[2021-11-02 10:15] JanezCim opened #186 "LS Lidar temporary mechanical mount extention"
We need to make a LSlidar mount extention board that will be a temporary solution before top plates get into production with standard magni. Confinements:
 - small board that will mount the LS lidar onto the magni base robot
 - small enough to fit into the box with lidar - with which it will be shipped
 - ideally lidar would be in the same side position as it is on the new top plate

[2021-11-03 09:52] JanezCim commented on #186
The inside edge of the box the Lidar is packed in is 165mmx175mm. There's a gap between the lid and the stirofoam layer of 8mm.

[2021-11-04 20:10] AljazKrsnik commented on #186
Can you send me/show me the shape of the top plate that they have already made 100 pcs?

[2021-11-05 10:06] JanezCim commented on #186
the top plate that they already made is the standard top plate that was a part of the robot until now. I cant find a picture or a 3d model of it anywhere right now.

Its the same top toplate that you were modifying here https://github.com/UbiquityRobotics/magni_robot/issues/184 but without the lidar, cable or the screen holes

[2021-11-05 10:22] AljazKrsnik commented on #186
Ok. Thx

V pet., 5. nov. 2021 11:06 je oseba Janez Cimerman ***@***.***>
napisala:

[2021-11-05 10:51] JanezCim commented on #184
True, @AljazKrsnik on your measures pdf i could not find these measures, can you provide them?
![lidarmeasures](https://user-images.githubusercontent.com/8426792/140499585-ceaa48a4-30e5-4a56-9a10-dacc0bfe343a.png)

[2021-11-07 02:47] sevenbitbyte opened #187 "Install description meshes"
Urdf not loading due to missing install for meshes

https://github.com/UbiquityRobotics/magni_robot/blob/noetic-devel/magni_description/CMakeLists.txt#L114

Noticed that using [file_server](https://github.com/gramaziokohler/ros_file_server) to load the model meshes over rosbridge was failing. Turns out the files aren't installed. Simple fix, add them to the CMakeLists install.

[2021-11-14 15:30] AljazKrsnik commented on #186
![lider mount](https://user-images.githubusercontent.com/87651656/141687443-0fa9275f-01ee-4555-8e28-8ad6e66034d0.PNG)
![lider moun2](https://user-images.githubusercontent.com/87651656/141687447-9ae866f6-f974-4c07-b1b9-d36680d93355.PNG)

Here is a mount. If i understood you correctly there is only 8 mm of free space in height?
With this mount, we are gonna have same lider position( latest). I can a

[2021-11-15 17:36] JanezCim commented on #186
@AljazKrsnik if I understand correctly that green mount is made to fit onto the Top Plate (gray) right? This mount is meant as a replacement for the top plate, and does not actually need to sorround it. So i would maybe rather do it as a simple plate (shape is already nice) - without any bending parts. Maybe it'll be quicker if we discuss this on a call

[2021-11-15 18:06] AljazKrsnik commented on #186
I see. That is a bit different. So we make a holder like this? Or if we really need stifness becouse of the LIDAR, we can make 2 mm thick sheet metal and i think that it would be suficient? Dont know the weight of the lidar...
For the mounting we can chanfer the holes( than we must go with al least 2 mm), or we can bolt it and use other emtpy holes.
![LIDAR MOUNT](https://user-images.githubusercon

[2021-11-17 13:50] JanezCim commented on #186
Yes that looks better then before. Do you think chanfering is absolutely needed since it adds complexity to the production process?

I also dont know the weight of the lidar sory. But you can also make this from 3mm aluminium since that is how thick the top plate is anyway.

Just one more thing to note, after we have made some test units of this plate for us at Pečniks place and tested them, we wi

[2021-11-17 20:01] AljazKrsnik commented on #186
No problem. I will make it without chanfering.

[2021-12-15 08:46] JanezCim commented on #186
@AljazKrsnik  Is this part ready to be produced then after we've tested it in TP? If yes, can you point me to the correct file on Zoho?

[2021-12-15 08:48] JanezCim commented on #186
Oh and also on the test units in TP dont have these holes. That may be good to be added to that design.

![image](https://user-images.githubusercontent.com/8426792/146153762-cc57cd6d-437a-4d8c-93d5-2f110cc12150.png)

[2021-12-17 14:46] JanezCim opened #189 "Casters on slovenian design are not optimal"
- robot is lower at the back by about 0.5cm
 - casters touch the robot when 90 kilos on robot

[2021-12-21 10:15] JanezCim commented on #186
@AljazKrsnik can you send a zoho link to the file which i can send to production for this temporary lidar mount if its ready for production?

[2021-12-21 11:43] AljazKrsnik commented on #186
Will send today( evening hours).

V V tor., 21. dec. 2021 ob 11:15 je oseba Janez Cimerman <
***@***.***> napisala:

[2021-12-24 06:13] #169 closed, assigned to JanezCim

[2021-12-24 06:13] #172 closed, assigned to JanezCim

[2021-12-24 07:50] JanezCim opened #190 "Have a more generic way of including cameras into robot.yaml"
https://github.com/UbiquityRobotics/magni_robot/blob/24f8a474e0bbdd68e2593f5757dcf07f237d0efc/magni_bringup/config/default_robot.yaml#L14

[2021-12-24 12:49] AljazKrsnik commented on #186
Here is the new, updated mount with aditional holes.
https://workdrive.zohoexternal.com/external/2c910607cb649df274d970fb7bda6b4dd066c89eb6d7f333686d835c7470af84

[2022-01-10 20:08] #186 closed, assigned to AljazKrsnik

[2022-01-20 12:40] JanezCim commented on #189
This has been solved, casters need to have an additional nut under the caster holder

[2022-01-20 12:40] #189 closed, assigned to JanezCim

[2022-01-20 12:45] JanezCim opened #191 "Issues needed to be solved before production"
- [x] Make sure Top plate with lidar mounts is in the standard magni 3D files - include those files into what is sent to pečnik #184
- [x] Fix up standard work till the end (especially packaging instructions) https://github.com/UbiquityRobotics/magni_robot/issues/192
- [ ] ~Upate cerificate of conformoty [#certhttps://github.com/UbiquityRobotics/ubiquity_main/issues/255](https://github.com/Ubiquit

[2022-01-24 09:07] JanezCim opened #192 "Styrophome Packaging 3D Standard work instructions"
@AljazKrsnik I've got 3D files for **new syrophome packaging**: https://workdrive.zoho.com/folder/8x05cf73c06f4f97648cb94343140f18889a3

What we need to do it update the magni standard work instructions with the new packaging: https://writer.zoho.com/writer/open/456pt0c2a3e68e60e4804b0d4b084b3294656

Specifically, import these into solidworks, insert magni, create screenshots, insert screenshots i

[2022-01-24 17:14] AljazKrsnik commented on #192
Cannot open. Can files be saved in step file? I cannot open them.

[2022-01-26 11:49] MoffKalast commented on #192
![Untitled](https://user-images.githubusercontent.com/9977799/151158197-5a1faaa3-7999-4b10-911c-5e268537afe1.jpg)

[2022-01-26 12:35] AljazKrsnik commented on #192
:D

V V sre., 26. jan. 2022 ob 12:49 je oseba MoffKalast <
***@***.***> napisala:

[2022-01-26 17:27] JanezCim commented on #192
@AljazKrsnik I will ask the guy in the mail and include you

[2022-01-27 21:10] AljazKrsnik commented on #192
I am working on package assembly. But i am a bit confused. I do not know where to use top sides? It seems that the whole package assembly is kinda ok without
![PACKAGE2](https://user-images.githubusercontent.com/87651656/151444048-f4e33c85-b408-42da-851a-e33de94db4b7.GIF)
![PACKAGE3](https://user-images.githubusercontent.com/87651656/151444051-a38a0183-01e1-44d4-8210-47dbd08556c6.GIF)
![PACKAGE4](

[2022-01-28 09:24] JanezCim commented on #192
yeah looks wierd. Can you ask Vasyl on mail about it?

[2022-01-28 09:30] JanezCim commented on #192
Btw look at magni standard work step 71. I think they Vasyl forgot to add a piece of styrophome that would fit here
![bla](https://user-images.githubusercontent.com/8426792/151521792-8833e789-2296-4f78-b175-63af0cfd4948.png)

Do you see that also from the 3d model?

For current units the manufacturer is creating the missing piece from bubblewrap and there have been complains about the part missing

[2022-01-28 11:09] AljazKrsnik commented on #192
Ok. Will ask him for more info.

V V pet., 28. jan. 2022 ob 10:30 je oseba Janez Cimerman <
***@***.***> napisala:

[2022-01-31 13:51] JanezCim commented on #184
for future reference on last image x: -0.092m, y: -0.066m

[2022-02-01 15:06] JanezCim commented on #192
Any progress on this?

[2022-02-01 15:19] AljazKrsnik commented on #192
Yes. Will do this first. Got the mail from vasily, how to pack all together.

V tor., 1. feb. 2022 16:06 je oseba Janez Cimerman ***@***.***>
napisala:

[2022-02-01 18:04] AljazKrsnik commented on #184
Hi. Is this still an issue or is it solved?

[2022-02-02 08:29] JanezCim commented on #184
@AljazKrsnik this model has been tested like described above and i think thats fine. If its part of our default magni 3d model, then this is solved.

[2022-02-03 18:48] MoffKalast commented on #185
There's definitely something very weird or wrong with the current netplan install, looking at what's standard:
- there is supposedly some cloud init in /etc/cloud/... which does not exist at all
- the /etc/netplan dir is empty, it should already contain some yaml configs by default
- looking at the desktop settings gui, the Wired option is completely missing in the Network tab where it ought to be

[2022-02-05 00:22] rohbotics commented on #185
The noetic image is configured to use systemd-networkd not netplan. Because NetworkManager sees that systemd-networkd is managing the interface, the GUI is showing it as unmanaged.

Can we try something like this: https://wiki.archlinux.org/title/systemd-networkd#Wired_adapter_using_a_static_IP

[2022-02-05 00:23] rohbotics commented on #185
Also here is where we set the current config: https://github.com/UbiquityRobotics/pi_image2/blob/master/build_image.py#L194

[2022-02-07 12:16] AljazKrsnik commented on #192
HI

I have made 3D catalogue for styrophome packaging. Tell me what you think.
[MAGNI 5 WITH PACKAGE.PDF](https://github.com/UbiquityRobotics/magni_robot/files/8015110/MAGNI.5.WITH.PACKAGE.PDF)

I have renamed some ofthe packaging files( more user friendly)

[2022-02-07 12:18] AljazKrsnik commented on #192
I finally got the right files. And it matches the design. The file is on
github.

V V tor., 1. feb. 2022 ob 16:19 je oseba aljaz krsnik <
***@***.***> napisala:

[2022-02-07 14:41] JanezCim commented on #192
Great! thanks @AljazKrsnik i've added the file to the standard work. If it does not present too much work for you, could you also recreate steps 68-83 with rendered images and try to replace them in the magni standard work:
https://writer.zoho.com/writer/open/456pt0c2a3e68e60e4804b0d4b084b3294656
Zoho editor is pretty crappy so if you dont want to deal with that, you can alternatevely just send me

[2022-02-09 12:56] AljazKrsnik commented on #192
![todo](https://user-images.githubusercontent.com/87651656/153205530-8a679cda-c4cc-436b-8cf9-784808b9d5c7.GIF)

What is here missing?

[2022-02-09 12:58] AljazKrsnik commented on #192
![todo1](https://user-images.githubusercontent.com/87651656/153205768-339f8abd-e14a-42b1-96f1-faf3e494a3ae.GIF)

Is this FOAM  insert still present? Do i include it in assembly mauna?

[2022-02-09 13:31] AljazKrsnik commented on #192
https://writer.zoho.com/writer/open/456pt0c2a3e68e60e4804b0d4b084b3294656

I have created new version. There are instructions for the new packaging system. The only thin i am not sure is about INSER FOAM on the upper picture. Will this still be a part of the new packaging assembly?

[2022-02-10 10:23] JanezCim commented on #192
This: https://github.com/UbiquityRobotics/ubiquity_main/issues/255 david needs to arrange with lee pulver that we get updated certificates of conformance.

I think yes, its still present

[2022-02-11 12:20] JanezCim commented on #185
I've now taken a nother look into this and i've managed to set a static ip with networkd by

`sudo nano /etc/systemd/network/10-eth-dhcp.network`

and replacing everything with

[code]

and then `sudo reboot` or `sudo systemctl restart systemd-networkd`

I havent tested this with lidar yet though because i dont have one, could you try it out if it works?

[2022-02-11 12:31] anfederman commented on #185
This is already in breadcrumb learn documentation. Please note the default
lie at is set to the replicate ld06.

On Fri, Feb 11, 2022, 4:20 AM Janez Cimerman ***@***.***>
wrote:

[2022-02-11 12:54] JanezCim commented on #185
okay cool! @anfederman can you confirm this network config works with ls lidar?

[2022-02-11 13:51] anfederman commented on #185
Pifi and lslidar work once netstat  set. I even had Rviz showing lidar  +
sonar,

Interesting spell corrections:

megastar = netstat
lslidar = pelican

On Fri, Feb 11, 2022, 4:55 AM Janez Cimerman ***@***.***>
wrote:

[2022-02-14 07:31] JanezCim commented on #185
can you elaborate what means that you have netstat set. Best would be if you give us a set of commands and eddits that made it work for you.

[2022-02-14 08:39] anfederman commented on #185
The Feb dev image is setup for working with the ld06 lidar.

To get the LS lidar to work you need to edit the Magni bring up  to set
ldlidar  false, LS lidar  true, and also  use either Magellan or megastar
to set the Ethernet IP  address for the robot. The instructions for this
are in breadcrumb learn.

On Sun, Feb 13, 2022, 11:31 PM Janez Cimerman ***@***.***>
wrote:

[2022-02-17 13:47] JanezCim commented on #185
Today i've used this setup to setup LS lidar: https://github.com/UbiquityRobotics/magni_robot/issues/185#issuecomment-1036157901 and this has also been similarly solved in breadcrumb repo.
And it seems to be working normally. I think this solves this issue. reopen if necesseary

[2022-02-17 13:47] #185 closed, assigned to rohbotics, JanezCim, MoffKalast

[2022-03-16 06:24] jh-chng commented on #149
Hello! If you are still interested in integrating the magni to RMF (Romi-h is the same thing as RMF), you can check out this repo here: https://github.com/sharp-rmf/magni/tree/missybot

Everything is a little bit rough, because we used them for ours demos but didn't bother to clean them up afterwards. If you do have questions do let me know I will be happy to answer.

The main way of integrating M

[2022-03-16 09:38] JanezCim commented on #182
There's been some suggestions for trying rmf with magni here: https://github.com/UbiquityRobotics/magni_robot/issues/149#issuecomment-1068779940

[2022-03-16 09:42] JanezCim commented on #149
Hello, thank you very much for the suggestion, we still haven't gotten around to trying RMF out although we are keeping it on the TODO list. Will also look at your suggestions when we come around to it.

[2022-03-16 11:21] JanezCim commented on #186
temporary mounts from Leishen are in slovenia, now we need to test them:
 - is colored blue RGB(48, 94, 177) - is it colored or annodized?
 - Each sample unit should come with 4xM3x8mm Cap socket screws.  - is this true?
 - mount on robot and mount ls lidar on it - does everything fit?
 - mount ld lidar on it - does it fit?
 - how many mounts have arrived - should be 10?

@GreTimotej once you test

[2022-03-17 11:39] GreTimotej commented on #186
After today's tests:
- The piece is colored blue, but a bit darker than RGB(48, 94, 177). At least that is how it looks compared to the color viewed on the computer. It is anodized, ([See pictures here](https://workdrive.zohoexternal.com/folder/qc97hc5bc2475baac4825bf6137adce9526ca)).
- Alongside the 10 mounts we also got 40 M3x8mm Cap socket screws. That is 4 screws per piece. They were also meas

[2022-03-17 11:48] AljazKrsnik commented on #186
I will look the 3d files if the holes are concentric or not and report
today( majbe 3d file wrong or press in nuts inserted at an angle)
Is the lidar stable with just 2 screws( as planed)?
Does the lidar( sheet metal) oscilate or shake when MAGNI moves?

V V čet., 17. mar. 2022 ob 12:39 je oseba Timotej Gregorič <
***@***.***> napisala:

[2022-03-17 12:02] GreTimotej commented on #186
@AljazKrsnik Yes the Lidar is stable with just 2 screws and when Magni is moving everything is still (Mount mounted with 2 screws and LS Lidar also mounted with 2 screws).

[2022-03-17 20:23] anfederman opened #195 "description.launch undocumented"
I could find no documentation on how to specify that I had sonars, OLED, lidar, etc.   ON a fresh launch I am not sure if the etc/ubiquity/robot.yaml is being read.  Since the default_robot.yaml is empty This is confusing.

PS the MArch distro had magni_robot in catkin,   put raspicam, aruco, pi_sonar  in /opt/ros   I am not sure what happens if you do a
fresh install via apt.  I expect issues.

<

[2022-03-17 20:24] anfederman commented on #195
[code]

[2022-03-17 20:25] anfederman commented on #195
for some reason, when I try to paste the desciption.launch file, it disappears.

[2022-03-18 08:17] JanezCim opened #196 "generated_core.launch no permissions to get generated in /opt/"
When package installed through apt, the `magni_bringup/launch_core.py` wants to generate `generated_core.launch` into `/opt/ros/noetic/share/magni_bringup/launch/generated_core.launch` for which it does not have permission. That is why robot base does not start on startup

`sudo systemctl status magni-base`
[code]

[2022-03-18 08:41] #196 closed, assigned to JanezCim

[2022-03-18 16:23] JanezCim commented on #195
Which image EXACTLY are you on (please give full name)? - saying march image is not enough since there were more then 1 march image
Is the image fresh? If not can you re-install and try again?

this should not be empty, please make sure you are on fresh image without your mods.

You are right, there is nothing documented in READMEs about this, but there is comments inside default_robot.yaml that s

[2022-03-18 16:29] anfederman commented on #195
By empty I mean it just has comments, and no directives. So I edited etc
ubiquity robot.yaml to turn sonar on. The image is the 3-10 to the best of
my recall. I am away from my desk.

On Fri, Mar 18, 2022, 9:24 AM Janez Cimerman ***@***.***>
wrote:

[2022-03-18 17:11] MoffKalast commented on #195
Have you tried calling the Ghostbusters?

[2022-03-19 02:21] anfederman commented on #195
Ok. My symptoms now are pi_sonar isn't starting from boot up. I can launch
it, and it echoes topics, when I try to see the sonar, in rviz, the cones
don't appear and it gives a Tf2 frame error. I can launch aruco, it appears
to work. I can launch LSlidar, but it doesn't show up in rviz, it looks
like a static transform error. my image is 03-04-ubiquity-gdm3-without-oled.

On Fri, Mar 18, 2022, 10:

[2022-03-20 21:49] AljazKrsnik commented on #186
Hi. The MAGNI 5 has only 3 inserts on FRONT SUPPORT( number 6 -https://workdrive.zoho.com/home/g9vop387248f4f5304dde876eb982824d88c5/teams/g9vop387248f4f5304dde876eb982824d88c5/ws/g9vop0ead768c4254422e9332d4e4fd4a414b/folders/ktgta31e7040cc0d64d23a41dfc5f4eac3ead). Look the link.

Here is another picture for this LIDAR mount.
![COAKSIAL HOLES](https://user-images.githubusercontent.com/87651656/159

[2022-03-20 23:07] anfederman commented on #186
My top plate has the holes for top center.

On Sun, Mar 20, 2022, 2:49 PM AljazKrsnik ***@***.***> wrote:

[2022-03-21 10:32] JanezCim commented on #186
@anfederman yes, you got top plate that was ment only for testing. The top plates and temporary plates in all the future builds will have the lidar holes slightly offset to robots right

[2022-03-21 10:37] JanezCim commented on #195
Thats because youve copy pasted the xml code into it without marking it as a code snippet with ``. You can also do that by selecting the code and pressing CTRL+e. Github actually renders the xml code if you dont format it as code. i fixed it now in your comment, please see what has changed.

[2022-03-21 10:44] JanezCim commented on #195
Thats because in `/etc/ubiquity/robot.yaml` it says

`sonars_installed: False `

Put it on True and they should work. Afaik, in Kinetic we had sonars disabled by default. So its the same in noetic. Also please try to always test stuff on the latest test image which you can see on https://github.com/UbiquityRobotics/robot_testing/issues - this way you can have the latest updates and fixes

[2022-03-23 09:30] JanezCim opened #200 "lidar false-detects robot in gazebo"
running `roslaunch magni_gazebo empty_world.launch` in latest noetic-devel

![image](https://user-images.githubusercontent.com/8426792/159667413-6d605d80-243c-4c65-8693-d47aaf136678.png)

[2022-03-23 11:44] JanezCim commented on #200
found out that commenting out sensor-hc-sr04 sensor dae files solves the problem
https://github.com/UbiquityRobotics/magni_robot/blob/cfb8f85852e54119f8eda4ff8be8f6d91a0341cf/magni_description/urdf/sensors/sonar_hc-sr04.xacro#L18

so probably the dae file is the problem, wed have to change it. Anyway, a quickfix for this if you dont need sonars is to set the sonars to false

https://github.com/Ubi

[2022-03-23 14:42] MoffKalast commented on #200
Hmm right, I think we had this issue before, but I can't recall what the fix was (or if there was any). There's probably an issue logged somewhere about it.

[2022-03-23 19:31] anfederman commented on #181
Are we still trying to get this to work, or should we deprecate it?

[2022-03-24 18:36] anfederman commented on #158
I think I had fiducial follow working in Noetic previously, but now when it detects the marker it goes backward violently. I thought it might be due to the camera being flipped in magni vs. breadcrumb, but I am unsure how to fix this. I tried to use the rapicam_flip node with vertical flip set to true, but this didn't help.

[2022-03-24 19:22] anfederman commented on #181
With raspicam_flip bulit in catkin, fiducial follow works sort of, but goes toward the marker, gets too close than backs away and loses it and starts to seek again.

[2022-03-24 19:22] #181 closed, assigned to anfederman, JanLipovsek

[2022-03-25 08:27] JanezCim commented on #200
yeah i remember this as well but could not find it...

[2022-03-25 08:32] JanezCim commented on #186
@GreTimotej I have to answer to the producer of these holders, what is the status now of this? Are the holes coaxial then and can i give a green light for producing more holders OR do we have to do another iteration?

[2022-03-25 08:48] GreTimotej commented on #186
@JanezCim yes, sorry. The holes are coaxial and you can give the green light for the production.

[2022-03-25 09:02] JanezCim commented on #186
Great, thanks!

[2022-03-28 14:24] JanezCim commented on #200
So a bit of experimentation and this is what I have:

if sonars have a colission box, the lidar detects it even though the colision boxes are not in the direct fov of the lidar:

![image](https://user-images.githubusercontent.com/8426792/160419179-379bb0f1-09f2-4d9b-b3cc-b88fb0b4b011.png)

as soon as i remove the colisions on sonar sensors the lidar works fine. I have zero clue what could be causi

[2022-04-01 12:18] #200 closed, assigned to JanezCim, MoffKalast

[2022-04-06 13:27] #187 closed, assigned to nobody

[2022-04-07 22:39] EliosSs opened #202 "There is something wrong with the controller_manager(spawner), the transform computation or the gazebo plugins used?"
Hey people, my name is Eliomar.
I am trying to recreate an alternative smulation simulation with the magni_gazebo package using just the lidar and not the sonars.

It was relatively easy because all was done and the Rviz configuration was also easy. But I am having a problem now in a slam simulation with that gazebo model and TF tree.

I am performing different tests and collision detection is one

[2022-04-08 07:42] JanezCim commented on #202
Hey Eliomar, i think i suspect what you have a problem with, but just to confirm, can you also post:
 - What branch of magni_robot you are on
 - The exact command(s) that you are starting everything with
 - the result of `rosnode list`
 - what is your fixed frame in Rviz - under Global options in Rviz

[2022-04-08 07:47] JanezCim commented on #195
closing because of inactivity, reopen if needed

[2022-04-08 07:47] #195 closed, assigned to nobody

[2022-04-08 07:52] JanezCim commented on #192
@AljazKrsnik the syrophome packaging for this is in standard work already and done righ? If yes, you can close this issue with the button underneath :)

[2022-04-08 15:23] EliosSs commented on #202
Hey Janez. Thanks very much for taking the time to review my issue.
 To answer your questions in order:

-  **What branch of magni_robot you are on**:  I am in noetic-devel branch, but using with ROS melodic ( as the repo does not have a proper melodic branch, as far as I know, but I think it works very well actually.

- **The exact command(s) that you are starting everything with**: I have create

[2022-04-11 07:19] JanezCim commented on #202
Yes, so running pure empty_world.launch will spawn the robot in empty world and you'll be able to drive around manually but it does not run "collision detection". This means that robot will hit the wall if you command it to do so through `cmd_vel` and continue spinning the wheels in place. Because one of the inputs of your slam node is also [wheel odometry](https://automaticaddison.com/how-to-publ

[2022-04-11 11:56] EliosSs commented on #202
Ahmmmm I understand. But if it is in the move_basic package, how can I add it to my simulation?

Well, I think I will check that move basic package. But I mean, that thing of the wheels still spinning, while the robot just collided against the wall is a TF problem, right? Because I just see how the base_footprint frame moves with respect to the odom frame while the wheels are spining (even against

[2022-04-11 12:16] JanezCim commented on #202
yes, robot has collided with the wall and it cant go forward. Its peferctly normal that the wheels still spin forward if you manually command it so - but the wheels are slipping on the ground. And because of how wheel odometry is designed (calculated only from the encoder ticks) the slam algorithm actually thinks the robot is still moving forward, where as in reality it is not. This causes the mis

[2022-04-11 12:45] EliosSs commented on #202
oh! perfect then Janez. I will check that and will be back if I have any other doubt.
Thank you a lot.

[2022-04-11 20:49] EliosSs commented on #202
Hey @JanezCim . Thanks a lot for your help.

I was checking the move_basic.launch. And effectively it runs a collision avoidance and it avoids the robot to hit objects.
And according to your explanation, yeah, it is quite logic that the robot keeps moving in rviz if the wheels are slipping in the ground.
But, what if it is not so easy to avoid collisions? there is a proper collision detection syst

[2022-04-12 06:51] JanezCim commented on #202
move basic that was developed inhouse is ment as a very simple version of ros-standard move_base. move_basic can only do crude stop on obstacle (no avoidance, no fancy clearing mechanisms) because its ment to be as simple as possible. But if you need something more advanced, i'd recommend move_base, which we have worked with in the past, and there is example configuration for in https://github.com

[2022-04-12 14:08] EliosSs commented on #202
Yeah. Definitely I got my question answered. thank you a lot Janez.

[2022-04-12 17:44] EliosSs commented on #202
Actually @JanezCim , Sorry to reopen the post, but as my question was also regarding the TF computation I have a last question before closing the post definitely.

I was following this guide to tune the navigation stack as you suggested.
http://wiki.ros.org/navigation/Tutorials/Navigation%20Tuning%20Guide

And in the odometry part I was doing the rotation tests, to see if the odometry was being ca

[2022-04-12 18:55] #192 closed, assigned to JanezCim, AljazKrsnik

[2022-04-13 07:54] JanezCim commented on #202
if your fixed frame in rviz is "odom" then the lidar scan "missalignment" you see might also be caused by odometry drifting since odometry outputs tf odom -> base_footprint. Great resources to read how tfs are calculated on [rep105](https://www.ros.org/reps/rep-0105.html#coordinate-frames) and https://linklab-uva.github.io/autonomousracing/assets/files/L11-compressed.pdf

To mee this seems logical

[2022-04-13 10:48] EliosSs commented on #202
For the first two images that I posted it seems like a normal behavior.
But the third one was very strange to see all that odometry drift.

And actually I did not change anything. In navigation I used some costmap parameters, but these tests that I am doing are without any slam or navigation package. it's just loading the gazebo model inside the map.

The only things that I am changing are the map

[2022-04-13 13:47] JanezCim commented on #202
I dont understand what exactly you mean here. It would be best if you copy-paste the relevant launches/parameters that you've changed when the problem occoured so i can try to replicate this and try to make sense of it. I think after we solve this, other stuff will make sense too.

[2022-04-13 13:51] EliosSs commented on #202
ok ok sure. I am changing the empty_world.launch to have this:

[code]

I am using the turtlebot3_house.world to save time in the building of a custom map.

and I am modifying then after that the magni.launch file

[code]

Then I just do
`roslaunch magni_gazebo empty_world.launch`

So if you see the line 41 in magni.launch file, we have the controller_manager package launching a spawner. but the c

[2022-04-15 21:30] anfederman opened #203 "Suggestion, include lidar.launch files in bringup launch"
I  think we should include ld_lidar and ls_lidar launch files in bringup, also include filter files if needed.

I have been copying an edited version of the breadcrumb_bringup lidar.launch(defaults to ld_06) to magni_bringup. In this file I've commented out the reference to breadcrumb_nav filters.

[2022-04-19 07:06] JanezCim commented on #202
Sorry for a bit of delay. I've tested this and was able to reproduice your problem. When i've copy-pasted your launch folders, launched with `roslaunch magni_gazebo empty_world.launch`  and set the robot to rotate i've got the scan to rotate to an unreasonably large degree (notice the static frame odom and lidar decay of 5 seconds):
![lidarg1](https://user-images.githubusercontent.com/8426792/1639

[2022-04-19 20:34] EliosSs commented on #202
Hey Janez. Yeah sure I can do that and come back with the results.

[2022-04-19 21:26] EliosSs commented on #202
Hey Again Janez. I did reproduce the test that you told me but I had more or less the same result with odom as fixed frame and decay time 5.

![image](https://user-images.githubusercontent.com/35732290/164102602-e2e0f5a9-f910-49c4-941c-b3d204aaa951.png)

But I have to say that after checking and cking some guides I managed to solve it modifying the gazebo model of the robot and using the different

[2022-04-20 07:13] #191 closed

[2022-04-20 07:14] JanezCim commented on #173
Is this stil relevant? Please close if not

[2022-04-20 07:16] JanezCim commented on #148
Closing this because of inactivity and basically it was solved

[2022-04-20 07:16] #148 closed, assigned to rohbotics, mjstn

[2022-04-20 07:16] #120 closed, assigned to JanezCim

[2022-04-20 07:18] JanezCim opened #204 "Include shell and tower to models om magni-robot"
to
 - gazebo
 - default extrinsics for camera and lidar

shell and tower disabled by default but can be enabled in launch for gazebo and robot.yaml on real robot

[2022-04-20 18:42] anfederman opened #205 "lidar selection"
both ld_lidar and ls_lidar should be set to false in bringup configuration.

[2022-04-25 08:27] JanezCim commented on #202
Sorry for a big delay again.

When trying to reproduce i got error
[code]

so you'd need to add the `done_magni_simulation`

BUT anyway to me your comment:

indicates that your additions are not working correctly, since odometry _should_ get lost if the wheels are slipping after the robot has colided with the wall, so I think your solution is not quite right. Yet.

In my opinion, we should be look

[2022-04-25 23:03] EliosSs commented on #202
ahmmm yeah I think I made a mistake and did not upload all the files. ehhh done_magni_simulation is the package that I created to test all the modifications that I did.

But then it is a bug? I think yeah my solution is not quite right, but it improves the odometry source.
Do you have a time estimation to fix this bug?

[2022-04-26 06:11] JanezCim commented on #202
It has a potential for a bug and it should be researched.

Currently no because theres a lot of priority items on our end that i dont know the eta for, sorry.

[2022-04-26 06:25] JanezCim commented on #205
In which file and line exactly are you thinking?

[2022-04-29 08:08] #204 closed, assigned to JanezCim

[2022-05-04 02:11] EliosSs commented on #202
Hey Janez. ok ok. No problem then I think for the moment the modifications that I made are enough for the autonomous algorithms that I am testing. The problem was that with the old odometry was very hard to use the localization node.

[2022-06-10 21:16] anfederman opened #207 "Magnigazebo/launch/rviz_config.rviz"
The current rviz_config.rviz in magni_gazebo launch doesn't parse the urdf correctly. The breadcrumb_gazebo/launch/rviz_config.rviz
is correct, so if someone would be so kind to test this and copy the file over, I would appreciate it.

[2022-06-10 23:55] MoffKalast commented on #207
The difference is that the gazebo one also launches magni_description, which solves the problem of the missing robot model.

[2022-06-28 07:25] JanezCim commented on #207
@anfederman did @MoffKalast anwer your question? If yes, can you close the issue?

[2022-06-28 09:50] MoffKalast commented on #207
Well we should find a way to solve this eventually, right now my workaround is to just launch magni_description separately which does work but also publishes duplicate transforms which causes other problems. We probably just need to add the model publisher or something, I haven't really looked into it.

[2022-06-28 21:16] anfederman opened #208 "simple navigation launch"
fiducials seem to be be located 90 degrees from robots heading.

[2022-07-11 17:36] anfederman opened #209 "Files and documentation missing"
No explanation or files for either ld or ls lidar installs or launches.

[2022-07-11 17:39] MoffKalast commented on #209
https://learn.ubiquityrobotics.com/noetic_ur50_lidar#setup-to-work-with-raspberry-pi

https://learn.ubiquityrobotics.com/noetic_ur12_lidar#installation

Launch files are in the lidar packages.

[2022-07-11 17:39] #209 closed, assigned to nobody

[2022-07-11 18:22] anfederman commented on #205
lidar.launch pull request in magni_bringup.

[2022-07-11 18:22] #205 closed, assigned to nobody

[2022-07-11 18:42] anfederman commented on #208
move_base.launch generates warning:

[ WARN] [1657564834.869772786]: Timed out waiting for transform from base_footprint to map to become available before running costmap, tf error: canTransform: target_frame map does not exist.. canTransform returned after 0.101401 timeout was 0.1.

[2022-07-15 18:28] anfederman opened #210 "move base planner missing resource"
sudo apt install ros-noetic-carrot-planner

needed to get some of the older demos working.

[2022-07-19 16:12] anfederman commented on #210
I think I have move base working now, once pull request is done.

[2022-07-19 16:12] #210 closed, assigned to nobody

[2022-07-19 16:13] #208 closed, assigned to nobody

[2022-07-19 16:13] #173 closed, assigned to nobody

[2022-07-19 16:13] #203 closed, assigned to nobody

[2022-07-20 18:42] anfederman commented on #207
I got it working.

[2022-07-20 18:42] #207 closed, assigned to nobody

[2022-07-20 18:43] anfederman commented on #152
closed as inactive

[2022-07-20 18:43] #152 closed, assigned to nobody

[2022-07-28 23:37] MoffKalast commented on #152
Yeah no that's due to it being an incompatible ROS version. I always get these hash mismatches when accidentally opening Kinetic bags under Noetic or vice versa. As a rule of thumb, Kinetic and Melodic are compatible because the hashes didn't change for most messages, while Noetic isn't with either of them because of the larger amount of these conflicts.

[2022-08-24 18:07] anfederman opened #216 "raspicam .xacro file"
I don't understand this file. it seems the camera is turned 90 degrees on one axis,  and then a separate camera sensor is turned 90 degrees on two axis.   in rviz this means the camera sensor is pointing opposite of the camera.

I can't make head or tail of this.  Maybe this works in gazebo, but I can't figure out how this possible could work in real life unless the urdf has no bearing on the actu

[2022-08-25 19:46] anfederman opened #217 "camera extrinsics."
All the camera files say they are for the tower in the repository descriptions. so I don't now what just camera_forward and Camera_ahead mean or how is relates to the non_tower magni.  It seems the locating are more or less correct,   but our assembly instructions how the camera inverted, and Mark had the camera flipped on it side for the forward looking slightly down configuration.  I thin the or

[2022-08-25 20:04] anfederman commented on #217
The camera forward seems to have the camera orientation and placement correct,however fiducial slam does not appear to work in this configuration. the fiducials are being mapped bellow and 90 degrees form their position.

[2022-08-25 20:04] #217 closed, assigned to nobody

[2022-09-19 18:03] anfederman commented on #216
I am giving up on this. it seems irrelvant as we aren't updating fiducial navigation.

[2022-09-19 18:03] #216 closed, assigned to MoffKalast, davecrawley, dorkamotorka

[2022-10-11 08:54] anfederman commented on #186
Ok does that mean we need to modify the laser filter yaml and static
transform for various configurationd?

On Mon, Mar 21, 2022, 3:32 AM Janez Cimerman ***@***.***>
wrote:

[2022-10-11 09:23] AljazKrsnik commented on #186
Will the small lidar mounting holes need adjustment?

V V čet., 17. mar. 2022 ob 13:02 je oseba Timotej Gregorič <
***@***.***> napisala:

[2022-10-12 18:45] MoffKalast commented on #202
Ok having read through this entire saga, this gist of it is that the Magni's angular odometry drifts more than expected in Gazebo?

I mean that's not even a bug, that's a feature. The real robot is arguably just as bad when it comes to rotational odometry, it can be up to a few degrees off in a 180 deg rotation maneuver. Just means the covariances are set up correctly in the simulated controller.

[2022-10-12 18:45] #202 closed, assigned to JanezCim, MoffKalast

[2022-11-07 19:51] PranavDhulipala opened #218 "Is there a planned support for ROS2 on the magni robot?"

[2022-11-07 23:22] MoffKalast commented on #218
Planned yes, but it'll be a while before we get there. ARM64 support needs to be sorted first.